RewriteEngine on

# ----------------------------------------------------------------------
# Redirect to Error Page
# ----------------------------------------------------------------------

ErrorDocument 404 404.html

RewriteCond %{REQUEST_URI} ^/404$
RewriteRule ^(.*)$ /404.html [L]

# ----------------------------------------------------------------------
# Force https
# ----------------------------------------------------------------------

RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

# ----------------------------------------------------------------------
# Remove www
# ----------------------------------------------------------------------

RewriteCond %{HTTP_HOST} !^khatib.work$ [NC]
RewriteRule ^(.*)$ https://khatib.work/$1 [L,R=301]

# ----------------------------------------------------------------------
# Remove file extensions from URL's
# ----------------------------------------------------------------------

RewriteRule ^index$ index.html [L]
RewriteRule ^404$ 404.html [L]

