# ----------------------------------------------------------------------
# Redirect to Error Page
# ----------------------------------------------------------------------
ErrorDocument 404 404.html

# ----------------------------------------------------------------------
# Force https
# ----------------------------------------------------------------------
RewriteEngine on
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

# ----------------------------------------------------------------------
# Remove www
# ----------------------------------------------------------------------
RewriteEngine On
RewriteCond %{HTTP_HOST} !^khatib.work$ [NC]
RewriteRule ^(.*)$ https://khatib.work/$1 [L,R=301]

# ----------------------------------------------------------------------
# Remove file extensions from URL's
# ----------------------------------------------------------------------
RewriteRule ^index$ index.html [L]
RewriteRule ^404$ 404.html [L]

