RewriteEngine on

# ----------------------------------------------------------------------
# Redirect to error Page
# ----------------------------------------------------------------------

ErrorDocument 404 /404.html

# ----------------------------------------------------------------------
# Redirect non-existing to error Page
# ----------------------------------------------------------------------

<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteBase / 
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ http://khatib.work/404.html [R,NC,L]
</IfModule>

# ----------------------------------------------------------------------
# Force https
# ----------------------------------------------------------------------

RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

# ----------------------------------------------------------------------
# Remove www
# ----------------------------------------------------------------------

RewriteCond %{HTTP_HOST} !^khatib.work$ [NC]
RewriteRule ^(.*)$ https://khatib.work/$1 [L,R=301]

# ----------------------------------------------------------------------
# Remove file extensions from URL's
# ----------------------------------------------------------------------

RewriteRule ^index$ index.html [L]
RewriteRule ^404$ 404.html [L]

