<!DOCTYPE html>
<html lang="en">
<head>
<title>love is blind // humanly</title>
    <meta name="twitter:title" content="love is blind // humanly">
    <meta itemprop="name" content="love is blind // humanly">    
    <meta property="og:title" content="love is blind // humanly">
    <meta name="description" content="humanly is an experimental blog where I explore ideas at the intersection of product, design, and technology.">
    <meta itemprop="description" content="humanly is an experimental blog where I explore ideas at the intersection of product, design, and technology.">
    <meta name="twitter:description" content="humanly is an experimental blog where I explore ideas at the intersection of product, design, and technology.">
    <meta property="og:description" content="humanly is an experimental blog where I explore ideas at the intersection of product, design, and technology.">
    <meta name="twitter:image" content="https://media.giphy.com/media/l4Jza2xu7myQpBs8U/giphy.gif">
    <meta name="og:image" content="https://media.giphy.com/media/l4Jza2xu7myQpBs8U/giphy.gif">
    <meta property='og:url' content='http://khatib.work/humanly/love-is-blind.html'/>
    {{> meta}}
    <link rel="stylesheet" href="../dist/css/style.min.css">
</head>
<body>
    <section class="section__one --height-auto">
        <div class="one__container --align-center">
            {{> post-back-button}} 
            {{> toggle-switch}}
            {{!-- Header --}}
            <div class="post__header">
                <div class="post__header__details">
                    <h1 class="post__header__title">love is blind</h1>
                    <p class="post__header__description">How many times did you fell in love with your solution?</p>
                    <div class="post__header__author">
                        <div class="author__image">
                            <img src="" alt="">
                        </div>
                        <p class="author__name">Mo</p>
                    </div>
                    <p class="post__header__date">October 28, 2019</p>
                </div>
            </div>
            {{!-- Body --}}
            <div class="post__body">                          
            
                <p class="--margin-top-l">
                <span class="body__dropCap">A</span>s creators, generating solutions is our main craft. However, any time we get too deep in our solutions, we forget what we were solving in the first place. <br>Does this sound familiar?</p>

                <p class="--margin-top-l">
               I've been around some bright people, who their heads are a flood with great ideas. They have a great understanding of the problem they are solving. Well, in the beginning. Until they fall in love.</p>
                
                                <div class="post__image">
                <img src="https://media.giphy.com/media/Ty9Sg8oHghPWg/giphy.gif" alt="Sad">
                <p>Sad // via giphy</p>
                </div> 

                <p class="--margin-top-l"> Okay, so let's take several steps back.</p>


                <p class="--margin-top-l"> 
                You understand the problem. You know what you're solving. You start doing it, have several ideas in mind. Great! Suddenly comes this moment. This huge light bulb just pops in your head about this great one. This is it! For sure it should be. This is the solution to all the problems. How you didn't think about it before?
                </p>

                <p class="--margin-top-l">
                Wait, what... Did you say the solution to all the problems?<br>
                Tada!🎉 And here my friend... You're screwed!</p>

                <p class="--margin-top-l"> 
                You started solving different problems. And the deeper you get in this solution, the more problems you think you're solving. Remember? There was a  user's pain point you were solving.</p>
                
                <p class="--margin-top-l"> 
                You're probably thinking: "Okay Okay... Great, awesome smartass! It sounds as if you already cracked a solution to this problem." Well, I don't know if that's the ideal solution, however, doing the following helped me overcome it.</p>
                
                <div class="post__image">
                <img src="https://media.giphy.com/media/l4JyX3V0yydvPHNBe/giphy.gif" alt="Denzel listening">
                <p>Denzel // via giphy</p>
                </div> 

                <p class="--margin-top-l">
               Primarily, build a feedback loop around your process. Don't create the solution in isolation. Always try to include everyone in the process. Mainly,  the user that this pain point targets them directly. Plus, other stakeholders who have a solid understanding of the problem and would inform you when you skew away from it. This would help you keep the main problem in focus.  
                </p>

                <p class="--margin-top-l">
                <span class="body__dropCap">T</span>
                hough, don't get me wrong. I'm not telling you to scrape out this great idea you had. What I'm trying to say here is that you need to understand what is the main thing you're solving at the moment.</p>

                <p class="--margin-top-l">
                I know this whole idea about falling in love with the problem sounds like a cliche, and to be honest I don't think you need to do this, but what about you fall in love with both. The problem and the solution. Don't love one while breaking the heart of the other. Have a big heart.
                </p>
                
                <p class="--margin-top-l">
                <span class="body__dropCap">I</span>
                hope this was helpful, it's something that I wanted to share as I notice happening, moreover to be aware when this happens, and try to stop it before it's too late is a worthy skill that would help you ship valuable solutions for your users fast.
                </p>

                <div class="post__image">
                <img src="https://media.giphy.com/media/SLbZ0D6YoO7io/giphy.gif" alt="Shipped">
                <p>Shipped // via giphy</p>
                </div> 

                <div class="body__contact">
                    {{> contact}}
                </div>


            </div>
        </div>
    </section>    
<script src="../dist/js/toggle-modes.js"></script>
<script src="../dist/js/main.min.js"></script>
</body>
</html>
