<div class="project__section --margin-top-s">
    <div class="contact">
        <a href="mailto:mo@khatib.work" class="js-email" alt="compose email to mo" aria-label="link">📥</a>
        <a href="http://twitter.com/khatib" target="_blank" class="js-twitter" alt="link to twitter page"
            aria-label="link">🐣</a>
        <a href="http://instagram.com/kh4tib" target="_blank" class="js-instagram" alt="link to instagram page"
            aria-label="link">🤳</a>
        <a href="http://dribbble.com/khatib" target="_blank" class="js-dribbble" alt="link to dribbble page"
            aria-label="link">🏀</a>
        <a href="http://github.com/kh4tib" target="_blank" class="js-github" alt="link to github page"
            aria-label="link">👾</a>
    </div>
</div>