// 404 Page Styles

.section__404 {
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}