// 404 Page Styles

.section__not-found {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


    &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $dark-color;
        opacity: .8;
    }

    h1,
    h4,
    a {
        z-index: 5;
        margin-bottom: 1rem;
    }
}

.description__not-found {
    z-index: 5;
    color: $dark-shade-color;
    margin-bottom: 1rem;
}