// About Page Styles

.section__about {
    height: auto;

    .--about-back-link {
        margin: 4rem 0 0rem 0;
    }
}

.about__introduction {
    height: auto;
    width: 60%;

    p {
        width: 80%;
    }

    h1:nth-child(2) {
        width: 100%;
    }
    
}

.about__skills {
    opacity: 0;
    animation: animation-opacity 1s ease-in-out forwards 1;
    animation-delay: .4s;
}


// Media Queries
@media only screen and (max-width:1440px) {
    .section__about {
        justify-content: flex-start;

        .about__introduction {
            width: 100%;
            
            p {
                width: 100%
            }
        }
    }
}