.section__fom {
    width: calc(100% - 14rem);
    padding: 15rem 6rem 15rem 6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: $dark-color;
    // border: 1rem solid $primary-color;
}

.fom__header {
    padding-bottom: 6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation: animation-opacity 1s ease-in-out forwards  1;

    .header {
        &__title {
            font-size: .825rem;
            color: $primary-color;
            letter-spacing: 4rem;
            line-height: 300%;
            text-transform: uppercase;
            margin: 0 0 4rem 4rem;
            text-align: center;
        }

        &__description {
            color: $light-color;
            width: 50%;
            line-height: 200%;
        }
    }
}

.fom__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 0;
    animation: animation-opacity 1s ease-in-out forwards  1;
    animation-delay: .8s;
    
    iframe,
    img {
        margin: 2rem 2rem 0 0;
        align-self: center;
        width: 40%;
    }

    :first-child,
    :nth-child(even):last-child {
        width: calc(80% + 2rem);
    }
}

@media only screen and (max-width:768px) {
    .section__fom {
        width: 80%;
        padding: 4rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        margin: 0 auto;
    }
    .fom__header {
        .header {
            &__title {
                letter-spacing: .5rem;
                margin: 0 0 4rem 0rem;
            }
            &__description {
                width: 90%;
            }
        }
    }
    .fom__items {
        iframe,
        img,
        :first-child,
        :nth-child(even):last-child {
            width: 90%;
            margin: 0 0 2rem 0;
        }
    }
}