html {
    p {
        font-size: 1.125rem;
        line-height: 2;
    }
}

.section__one {
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 2rem solid transparent;
    overflow: hidden;
}

.one__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background: $light-dotted-page;
    background-size: 2rem 2rem;
    background-position: 1rem 1rem;
    padding: 4rem;
    position: relative;
    z-index: 1;
}

.introduction {
    opacity: 0;
    animation: animation-opacity 1s  ease-in-out forwards 1;
}

.introduction__more-button {

    color: $dark-shade-color;
    margin-top: 1rem;
    svg {
        vertical-align: middle;
        fill: $dark-shade-color;
    }

    img {
        opacity: 0;
        position: absolute;
        z-index: -3 ;
        top: 4rem;
        left: 4rem;
        transition: opacity .3s ease-in-out;
        pointer-events: none;
    }


    &:hover {
        img {
            opacity: .2;
        }

        svg {
            fill: $primary-color;
        }
    }
}

.mo__link {
    cursor: pointer;
    font-size: 2rem;
    line-height: 125%;
    color: $light-color;
    font-weight: 400;
    display: inline;

}

.one__columns {
    margin-top: 2rem;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skills {
    opacity: 0;
    animation: animation-opacity 1s ease-in-out forwards 1;
    animation-delay: .4s;
    ul {
        li {
            cursor: default; ;
            img {
                opacity: 0;
                position: absolute;
                z-index: -3 ;
                left: 8rem;
                top: 8rem;
                transition: opacity .3s ease-in-out;
                pointer-events: none;
            }

            &:hover {
                color: #555;
                img {
                    opacity: .2;
                }
        
            }
        }
    }
}

.projects, .experimentals {
    opacity: 0;
    animation: animation-opacity 1s   ease-in-out forwards 1;
    animation-delay: .6s;
    a {
        .project__description {
            color: $dark-shade-color;
            display: none;
        }

        &:hover {
            .project__description {
                display: inline-block;
                margin-left: .5rem;
                position: absolute;
            }
        }
    }
}

.contact {
    width: 16rem;
    opacity: 0;
    animation: animation-opacity 1s ease-in-out forwards  1;
    animation-delay: .8s;
}
.introduction,
.projects,
.skills,
.contact,
.experimentals {
    margin-top: 2rem;
    margin-right: 2rem;

     p {
        margin-top: 1rem;
        width: 50%;
    }
}

// Side Shapes Styles

.one__elements {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 50%;
    opacity: 0;
    padding: inherit;
    animation: 
        animation-opacity 1s ease-in-out forwards 1,
        animation-rotation 1s ease-out forwards  1;
    animation-delay: 1s;

    @for $i from 1 through 8 {
        :nth-child(#{$i}) {
            width: $i *12rem;
            height: $i * 12rem;
            transform: rotate($i * 2deg);
            border: 2px solid $primary-color;
            position: absolute;
            transition: 1s ease-in-out;
            z-index: -#{$i};
        }
    }
}

// Libs // Typer Styles
.introduction h1 {
    font-family:'Space Mono', monospace, 'Reem Kufi', sans-serif;

    .cursor {
        color: $primary-color;  
    }
}

.typer {
    color:$light-color;
}

// Dark/Light Mode Toggle Styles 
.toggle__switch {
    display: flex;
    background: rgba($light-color, $alpha: 0.2);
    width: 4rem;
    height: 2rem;
    border-radius: 4rem;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    cursor: pointer;
    animation: animation-opacity .8s  ease-in-out forwards 1;
    right: -.5rem;
    bottom: 1.75rem;
    z-index: 999;
    transform: rotate(90deg);


    .switch__cover {
        position: absolute;
        width: calc(2rem - 4px);
        height: calc(2rem - 4px);
        border-radius: 2rem;
        background: $dark-color;
        transition: .6s ease-in-out;
        right: 2px;
        z-index: 999;
    }
}

// Media Queries
@media only screen and (max-width:1440px) {
    body {
        height: auto;
        overflow: auto;
    }
    .section__one {
        height: 100%;
        align-items: center;
    }

    .one__container {
        padding: 2rem;
        width: 80%;

        .introduction p {
            width: 80%;
        }
    }
    .one__columns {
            width: 100%;
    }
    .contact,
    .skills,
    .projects {
        width: 100%;
    }
}

@media only screen and (max-width:768px) {
    .section__one {
        height: auto;
        align-items: flex-start;
    }

    .one__elements {
        display: none;
    }
}