.humanly__group {
    width: 100%;
    display: flex;
    flex-direction: column;
    animation: animation-opacity 1s ease-in-out forwards 1;
    align-self: center;

    iframe {
        width: 100%;
        margin-bottom: 48px;

        :last-child {
            margin-bottom: 0;
        }
    }
}

.humanly__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    margin-top: 2rem;
    @extend %transition-3;
    // border: 2px solid $secondary-color;
    // box-shadow: 0px 0px 0px rgba($color: $secondary-color, $alpha: 1.0);
    cursor: pointer;
    overflow: hidden;
    border-radius: 1.5rem;
    background-color: rgba($color: $light-color, $alpha: 0.02);

    .post__date {
        margin-top: 1rem !important;
    }

    h1 {
        font-size: 1.125rem;
        margin-bottom: 0;
        letter-spacing: 2px;
    }

    p {
        margin-top: 0;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    &:hover {
        // border: 2px solid $primary-color;
        // box-shadow: -12px 12px 0px rgba($color: $secondary-color, $alpha: 1.0);

        background-color: rgba($color: $light-color, $alpha: 0.02);
        box-shadow: 4px 8px 24px -4px rgba(0, 0, 0, 0.4);

        .post__date {
            color: $primary-color;
        }
    }
}

.humanly__badge {
    width: 48px;
    height: 24px;
    background: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    margin-left: 16px;
    top: -3px;
    position: relative;
    @extend %transition-3;

    h4 {
        color: $light-color;
        margin-bottom: 0;
        font-weight: 400;
        letter-spacing: 2px;
        margin-top: 2px;
        margin-left: 2px;
        position: relative;
    }

}

.flex {
    display: flex;
    align-items: center;
}

.post__image {
    margin: 4rem 0;

    p {
        font-size: 0.875rem;
        color: $dark-shade-color;
        margin-top: .25rem;
    }
}


.body__quote {
    margin: 4rem 0;

    .body__quote__description {
        font-family: $secondary-font;
        font-size: 2rem;
        color: $primary-color;
        margin-bottom: 1rem;

        &::after, &::before {
            content: '"';
            width: 100%;
            height: 100%;
            position: relative;
            bottom: -2rem;
            right: 0;
            font-size: 5rem;
            line-height: 0rem;
            font-weight: 700;
            color: $primary-color;
            text-shadow: -4px 4px 0px rgba($color: $secondary-color, $alpha: 1.0);
        }
    }

    h4 {
        color: $secondary-color;
        line-height: 150%;

        &::before {
            content: '';
            padding-left: 4rem;
            background-color: $secondary-color;
            width: 100%;
            height: 1px;
            position: relative;
            bottom: 0;
            left: 0;
            margin-right: 1rem;
        }
    }
}

.body__contact {
    margin-top: 4rem;
}

.body__link {
    display: inline;
    color: $secondary-color;
}

@media only screen and (max-width:768px) {
    .humanly__card {
        h1 {
            font-size: 1rem;
        }
    }
}



.list__item {
    display: flex;
    margin-top: 16px;

    p {
        margin-top: 0;
    }

    .list__title {
        color: $primary-color;
        font-weight: 700;

    }

    .list__cue {
        position: relative;
        width: 56px;
        margin-right: 16px;
        border-radius: .75rem;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 1rem;
            height: 1rem;
            fill: $primary-color;
        }
    }
}

.color__primary {
    color: $primary-color;
    text-decoration: none;
    font-size: inherit;
    line-height: inherit;
    display: inline;
}
