.humanly__group {
    width: 100%;
    display: flex;
    flex-direction: column;
    animation: animation-opacity 1s ease-in-out forwards 1;
    align-self: center;

    iframe {
        width: 100%;
        margin-bottom: 48px;

        :last-child {
            margin-bottom: 0;
        }
    }
}

.humanly__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    margin-top: 2rem;
    @extend %transition-3;
    border: 2px solid $secondary-color;
    box-shadow: 0px 0px 0px rgba($color: $secondary-color, $alpha: 1.0);
    cursor: pointer;
    overflow: hidden;
    border-radius: 1.5rem;

    .post__date {
        margin-top: 1rem !important;
    }

    h1 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 0;
    }

    p {
        margin-top: 0;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    &:hover {
        border: 2px solid $primary-color;
        box-shadow: -12px 12px 0px rgba($color: $secondary-color, $alpha: 1.0);

        .post__date {
            color: $primary-color;
        }
    }
}

.post__image {
    margin: 4rem 0;

    p {
        font-size: 0.875rem;
        color: $dark-shade-color;
        margin-top: .25rem;
    }
}

.body__dropCap {
    font-size: 8rem;
    line-height: 8rem;
    font-weight: 700;
    color: $primary-color;
    float: left;
    padding-right: 1rem;
    margin-top: 0rem;
    text-shadow: -8px 8px 0px rgba($color: $secondary-color, $alpha: 1.0);
}

.body__quote {
    margin: 4rem 0;

    .body__quote__description {
        font-size: 2rem;
        line-height: 150%;
        font-weight: 700;
        color: $primary-color;
        margin-bottom: 2rem;

        &::after {
            content: '"';
            width: 100%;
            height: 100%;
            position: relative;
            bottom: -2rem;
            right: 0;
            font-size: 5rem;
            line-height: 0rem;
            font-weight: 700;
            color: $primary-color;
            text-shadow: -4px 4px 0px rgba($color: $secondary-color, $alpha: 1.0);
        }
    }

    h4 {
        color: $secondary-color;
        line-height: 150%;

        &::before {
            content: '';
            padding-left: 4rem;
            background-color: $secondary-color;
            width: 100%;
            height: 1px;
            position: relative;
            bottom: 0;
            left: 0;
            margin-right: 1rem;
        }
    }
}

.body__contact {
    margin-top: 4rem;
}

.body__link {
    display: inline;
    color: $secondary-color;
}

@media only screen and (max-width:768px) {
    .humanly__card {
        h1 {
            font-size: 1rem;
        }
    }
}