.introduction__actions {
    display: flex;
    margin-top: 1rem;
}

.introduction__icon {
    width: auto;
    height: 7rem;
    box-shadow: none;
    bottom: 3rem;
    left: -0.75rem;
}


.typer {
    font-family: 'Space Mono', monospace, 'Reem Kufi', sans-serif, 'Zhi Mang Xing', cursive;
}

.cursor {
    color: $primary-color;
}


.action__button {
    width: 12rem;
    height: 3.5rem;
    border-radius: 3rem;
    margin-top: 1rem;
    background-color: rgba($color: $primary-color, $alpha: 1);
    color: $light-color;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.25rem;
    border: 2px solid transparent;

    :last-child {
        margin-right: 0;
    }

    &:hover {
        box-shadow: -8px 8px 0px rgba($color: $secondary-color, $alpha: 1);
        border: 2px solid $dark-color;
    }

    img {
        opacity: 0;
        position: absolute;
        z-index: -3;
        top: 4rem;
        left: 4rem;
        transition: opacity .3s ease-in-out;
        pointer-events: none;
    }


    &:hover {
        img {
            opacity: .2;
        }

        svg {
            fill: $primary-color;
        }
    }
}



.projects {
    .humanly__card {
        border-color: $primary-color;
    }
}

.projects__header {
    display: flex;
    align-items: center;

    div {
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, rgba($color: $primary-color, $alpha: 1) 0%, rgba($color: $primary-color, $alpha: 0) 100%);
        margin-left: 1rem;
        border-radius: 1rem;
    }

    h4 {
        margin-bottom: 0;
    }
}

// Skills in About
.skills {

    ul {
        display: flex;
        flex-wrap: wrap;

        h1 {
            cursor: default;
            margin-right: 1rem;

            img {
                opacity: 0;
                position: absolute;
                z-index: -3;
                left: 8rem;
                bottom: 2rem;
                transition: opacity .3s ease-in-out;
                pointer-events: none;
            }

            &:hover {
                color: #555;

                img {
                    opacity: .2;
                }

            }
        }
    }
}

// Tper Stiles
.typer {
    color: $light-color;
}

//About
.feed {
    width: calc(100% + 2rem);
    height: 100%;
    display: flex;
    margin-top: 3rem;

    .feed__cl {
        width: calc(50% - 2rem);
        margin-right: 2rem;
        position: relative;

        .feed__item {
            margin-bottom: 2rem;
            overflow: hidden;
            margin-bottom: 2rem;
            height: 400px;
            border-radius: 1.5rem;
            box-shadow: 4px 16px 48px -4px rgba($color: #000000, $alpha: 0.8);
            display: flex;
            justify-content: center;
            

            img {
                height: 100%;
                width: auto;
                box-shadow: none;
                border-radius: none;
            }
        }

        :nth-child(even) {
            height: 480px;
        }
    }

    :nth-child(even) {
        .feed__item {
            height: 320px;
        }

        :nth-child(odd) {
            height: 480px;
        }
    }
}

.section__bio {
    display: flex;
    align-items: flex-start;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.bio__description {
    width: 50%;

    :first-child {
        margin-top: 0;
    }

    @media (max-width: 768px) {
        width: 100%;

        :first-child {
            margin-top: 2rem;
        }
    }


}

.bio__image {
    height: 32rem;
    width: 50%;
    margin-right: 2rem;
    overflow: hidden;
    border-radius: 1.5rem;
    box-shadow: 4px 16px 48px -4px rgba($color: #000000, $alpha: 0.8);
    display: flex;
    justify-content: center;
    position: relative;

    img {
        height: 124%;
        width: auto;
    }

    @media (max-width: 768px) {
        width: 100%;

        img {
            height: 200%;
            width: auto;
        }
    }
}