// Introduction Styles
.introduction__actions {
    display: flex;
    margin-top: 1rem;
}

.action__button {
    width: 12rem;
    height: 3.5rem;
    border-radius: 3rem;
    margin-top: 1rem;
    background-color: rgba($color: $primary-color, $alpha: 1);
    color: $light-color;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.25rem;
    border: 2px solid transparent;

    :last-child {
        margin-right: 0;
    }

    &:hover {
        box-shadow: -8px 8px 0px rgba($color: $secondary-color, $alpha: 1);
        border: 2px solid $dark-color;
    }

    img {
        opacity: 0;
        position: absolute;
        z-index: -3;
        top: 4rem;
        left: 4rem;
        transition: opacity .3s ease-in-out;
        pointer-events: none;
    }


    &:hover {
        img {
            opacity: .2;
        }

        svg {
            fill: $primary-color;
        }
    }
}

.introduction__icon {
    width: auto;
    height: 7rem;
    box-shadow: none;
    bottom: 3rem;
    left: -0.75rem;
}

.introduction h1 {
    font-family: 'Space Mono', monospace, 'Reem Kufi', sans-serif;

    .cursor {
        color: $primary-color;
    }
}

// Skills in About
.skills {

    ul {
        display: flex;
        flex-wrap: wrap;

        h1 {
            cursor: default;
            margin-right: 1rem;

            img {
                opacity: 0;
                position: absolute;
                z-index: -3;
                left: 8rem;
                bottom: 2rem;
                transition: opacity .3s ease-in-out;
                pointer-events: none;
            }

            &:hover {
                color: #555;

                img {
                    opacity: .2;
                }

            }
        }
    }
}

// Tper Stiles
.typer {
    color: $light-color;
}