// Project Styles
.project__section {
    opacity: 0;
    animation: animation-opacity 1s ease-in-out forwards 1;
    width: 40%;
    margin-top: 4rem;
    position: relative;

    p {
        margin-top: 2rem;
    }

    img,
    iframe {
        width: 100%;;
        position: relative;
    }
} 

// Back Button
.project__back-btn {
    opacity: 0;
    animation: animation-right 1s ease-in-out forwards 1;
    animation-delay: .8s;
    position: relative;
    left: 8rem;
    top: 0rem;
    height: 2rem;
    width: 4rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    cursor: pointer;
    background: rgba($color: $primary-color, $alpha: .1);
    opacity: 0;
    @extend %transition-3;
    align-self: flex-start;

    .back__link {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 3;
    }

    svg {
        fill: $primary-color;   
        @extend %transition-3   
    }

    &:hover {
        background-color: rgba($color: $primary-color, $alpha: .2)
    }

    @media only screen and (max-width:768px) {
        display: none;          
        }
}

// Modifiers
.--animation-none {
    opacity: 1;
    animation: none;
}

.--height-auto {
    height: auto;
}

.--align-center {
    align-items: center;
}

// Media Queries
@media only screen and (max-width:1440px) {

    .project__section {
        width: 60%;
    }

    @media only screen and (max-width:768px) {
        .project__section { 
            width: 100%;          
        }
    }
}