// Animations 
@keyframes animation-opacity {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }

    to {
        opacity: 1;
    }
}

@keyframes animation-rotation {
    from {
        transform: rotate(-10deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes animation-left {
    from {
        left: -2rem;
        opacity: 0;
    }

    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes animation-right {
    from {
        left: 2rem;
        opacity: 0;
    }

    to {
        left: 0rem;
        opacity: 1;
    }
}
// Transitions
%transition-3 {
    transition: .3s ease-in-out; 
}