// Color Variables
$primary-color: slateblue;
$secondary-color: salmon;
$dark-color: #161616;
$dark-shade-color: #bdbdbd;
$light-color:#ffffff;
$light-shade-color: #e0e0e0;

// Gradient Variables
$light-dotted-page: radial-gradient(rgba(255, 255, 255, 0.125) 1px, transparent 1px);
$dark-dotted-page: radial-gradient(rgba(0, 0, 0, 0.125) 1px, transparent 1px);

// Theming Colors
$eve-theme-color: #2156ff;
$flow-theme-color: dodgerblue;
$sante-theme-color: palevioletred;
$exquisite-theme-color: #ac822e;
$frames-theme-color: $primary-color;
$humanly-theme-color: $secondary-color;
$twitter-theme-color: #1da1f2;
$instagram-theme-color: #ffdc80;
$dribbble-theme-color: #ea4c89;
$email-theme-color: salmon;
$linkedin-theme-color: #4078c0;
$about-theme-color: MediumPurple;