// Color Variables
$primary-color: slateblue;
$secondary-color: salmon;
$dark-color: #161616;
$dark-shade-color: #bdbdbd;
$light-color:#fff;
$light-shade-color: #e0e0e0;

// Theming Colors
$eve-theme-color: #2156ff;
$flow-theme-color: dodgerblue ;
$sante-theme-color: palevioletred;
$exquisite-theme-color: #ac822e;
$frames-theme-color: $primary-color;
$humanly-theme-color: $secondary-color;
$twitter-theme-color: #1da1f2;
$instagram-theme-color: #ffdc80;
$dribbble-theme-color: #ea4c89;
$email-theme-color: salmon;
$github-theme-color: #4078c0;
$readings-theme-color: #40E0D0;
