// Color Variables
$primary-color: slateblue;
$secondary-color: salmon;
$dark-color: #161616;
$dark-shade-color: #bdbdbd;
$light-color:#fff;
$light-shade-color: #e0e0e0;

// Theming Colors
$eve-theme-color: #2156ff;
$flow-theme-color: dodgerblue ;
$sante-theme-color: palevioletred;
$exquisite-theme-color: #ac822e;