// Global Styles
* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: $primary-font;
    background: $dark-color;
    font-size: 1rem;
}

// Selection Styles

// Scroll Styles
::-webkit-scrollbar {
    width: .5rem;
    background: $dark-color;
    // border: 1px solid $light-color;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background: $light-color;

    &:hover {
        background: $light-shade-color
    }
}

// Main Attributes Styles
a {
    font-size: 1rem;
    line-height: 200%;
    display: block;
    text-decoration: none;
    color: $light-color;
    @extend %transition-3;
    cursor: pointer;

    &:hover {
        text-decoration: line-through;
        text-decoration-color: $primary-color;
        color: $primary-color;
    }
}

li, ul {
    font-size: 1rem;
    list-style: none;
    color: $light-color;
    line-height: 200%;
}

p {
    font-size: 1rem;
    line-height: 150%;
    color: $dark-shade-color;
}

h1 {
    font-size: 2rem;
    line-height: 125%;
    color: $light-color;
    font-weight: 400;
    @extend %transition-3
}

h4 {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    line-height: 125%;
    color: $primary-color;
    margin-bottom: 1rem;
    font-weight: 700;
    @extend %transition-3
}