// General Styles
* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: $primary-font;
    background-color: $dark-color;
    font-size: 1rem;
}

a {
    font-size: 1rem;
    line-height: 200%;
    display: block;
    text-decoration: none;
    color: $light-color;
    @extend %transition-3;
    cursor: pointer;

    &:hover {
        // text-decoration: line-through;
        text-decoration-color: $primary-color;
        color: $primary-color;
    }
}

li,
ul {
    font-size: 1rem;
    list-style: none;
    color: $light-color;
    line-height: 200%;
}

p {
    font-size: 1.125rem;
    line-height: 2rem;
    color: $dark-shade-color;
}

h1 {
    font-size: 3rem;
    line-height: 100%;
    word-spacing: -4px;
    font-weight: 700;
    color: $light-color;
    // margin-bottom: 1rem;
    text-transform: lowercase;
    @extend %transition-3
}

@media only screen and (max-width:768px){
    h1 {
        font-size: 2rem;
        line-height: 110%;
    }
}

h2 {
    font-size: 2rem;
    line-height: 110%;
    word-spacing: -4px;
    color: $primary-color;
    margin-bottom: 1rem;
    @extend %transition-3
}

h4 {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    line-height: 125%;
    color: $primary-color;
    margin-bottom: 1rem;
    font-weight: 700;
    @extend %transition-3
}

img,
iframe {
    width: 100%;
    position: relative;
    border-radius: 1.5rem;
    box-shadow: 4px 16px 48px -4px rgba($color: #000000, $alpha: 0.8);
    @extend %transition-3;
}

.img__link {
    &:hover {
        box-shadow: 2px 4px 8px -2px rgba($color: #000000, $alpha: 0.8);
        @extend %transition-3;
    }
}


// Layout Styles
.section__one {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background: $dark-color;
}

.one__container {
    width: 800px;
    max-height: 100%;
    // background: $light-dotted-page;
    // background-size: 2rem 2rem;
    // background-position: 1rem 1rem;
    padding: 2.5rem 4rem;
    z-index: 1;
    position: relative;
    border-radius: 1.5rem;
    box-shadow: 4px 16px 48px -4px rgba($color: #000000, $alpha: 0.8);
    backdrop-filter: blur(16px);
    margin: 2rem 0;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.project__section {
    opacity: 0;
    animation: animation-opacity 1s ease-in-out forwards 1;
    margin-top: 4rem;
    position: relative;

    p {
        margin-top: 1rem;
    }
}

.projects {
    .humanly__card {
        border-color: $primary-color;
    }
}

// Scroll Styles
::-webkit-scrollbar {
    width: .5rem;
    background: transparent;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    border-radius: 1.5rem;
    background: $primary-color;
}

// Side Shapes Styles
.one__elements {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    opacity: 0;
    padding: inherit;
    animation:
        animation-opacity 1s ease-in-out forwards 1,
        animation-rotation 1s ease-out forwards 1;
    animation-delay: 1s;

    @for $i from 1 through 8 {
        :nth-child(#{$i}) {
            width: $i *12rem;
            height: $i * 12rem;
            transform: rotate($i * 2deg);
            // border: 2px solid $primary-color;
            background: rgba($primary-color, $alpha: 0.1);
            position: absolute;
            transition: 1s ease-in-out;
            z-index: -#{$i};
            border-radius: 20rem;
            box-shadow: 0 8px 32px -1px rgba(0, 0, 0, .5);
        }
    }
}

// Header Styles
.top__options {
    opacity: 1;
    width: 100%;
    height: 32px;
    display: flex;
    padding: 1.5rem;
    margin-left: -1.5rem;
    top: 0;
    border-radius: 1.5rem;
    background-color: lighten($color: $dark-color, $amount: 1%);
    background-color: rgba($color: lighten($color: $dark-color, $amount: 1%), $alpha:0.8);
    justify-content: space-between;
    z-index: 2;
    backdrop-filter: blur(8px);
    box-shadow: 4px 8px 24px -4px rgba(0, 0, 0, 0.4);
}

.project__back-btn {
    position: relative;
    height: 2rem;
    width: 4rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    cursor: pointer;
    background: rgba($color: $primary-color, $alpha: .1);
    align-self: flex-start;
    transition: ease-in-out .4s;

    .back__link {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 3;
    }

    svg {
        fill: $primary-color;
        @extend %transition-3
    }

    &:hover {
        background-color: rgba($color: $primary-color, $alpha: .2)
    }
}

.toggle__switch {
    display: flex;
    background: rgba($light-color, $alpha: 0.1);
    width: 4rem;
    height: 2rem;
    border-radius: 4rem;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    cursor: pointer;
    z-index: 999;
    transition: ease-in-out .4s;

    &:hover {
        background: rgba($light-color, $alpha: 0.2);
        transition: ease-in-out .4s;
    }


    .switch__cover {
        position: absolute;
        width: calc(2rem - 5px);
        height: calc(2rem - 5px);
        border-radius: 2rem;
        background: $dark-color;
        transition: .6s ease-in-out;
        right: 2px;
        z-index: 999;
        position: absolute;
    }
}

// Footer Styles
.contact {
    width: 100%;
    height: 32px;
    display: flex;
    padding: 1.5rem;
    border-radius: 1.5rem;
    background-color: rgba($color: $light-color, $alpha: 0.02);
    justify-content: space-evenly;
    z-index: 2;
    margin-left: -1.5rem;

    a {
        width: calc(100% / 5);
        height: 32px;
        display: flex;
        justify-content: center;
        border-right: solid 1px rgba($color: $primary-color, $alpha: 0.2);
    }

    :last-child {
        border-right: none;
    }
}

@media only screen and (max-width:768px) {

    .section__one {
        align-items: unset;
        flex-direction: unset;
    }

    .one__container {
        margin: 0;
        border-radius: 0;
        // box-shadow: none;
        // filter: none;
        padding: 2rem;
    }
}