.--margin-top-l {
    margin-top: 4rem !important;
}

.--margin-top-s {
    margin-top: 2rem !important;
}

.--margin-top-none {
    margin-top: 0 !important;
}

.--margin-bottom-none {
    margin-bottom: 0 !important;
}
.--position-sticky {
    position: sticky !important;
    top: 0;
}

.--index-top {
    z-index: 9999;
}