// Color Theming

// Eve Theme Styles

@each $theme-name, $color-value, $radius-value, $rotation-value in 
    (eve, $eve-theme-color, 0rem, -15deg),
    (flow, $flow-theme-color, 15rem, 90deg),
    (sante,$sante-theme-color, 50rem, -90deg),
    (exquisite, $exquisite-theme-color, 5rem, 15deg),
    (email, $email-theme-color),
    (twitter, $twitter-theme-color),
    (instagram, $instagram-theme-color),
    (dribbble, $dribbble-theme-color),
    (github, $github-theme-color){
    
    .--project-theme-#{$theme-name} {
        .one__elements i {
            border: 2px solid $color-value;
            border-radius: $radius-value;
            transform: rotate($rotation-value);
            transition: 1s ease-in-out;
        }

        h4 {
            color: $color-value;
        }

        .introduction h1 .cursor {
            color: $color-value;
        }

        .project__back-btn {
            border-color: $color-value;

            svg {
                fill: $color-value;
            }

            &:hover {
                background-color: rgba($color: $color-value, $alpha: .1)
            }
        }

        a:hover {
            color: $color-value;
            text-decoration-color: $color-value;
        }

        ::selection {
            background: $color-value;
        }
    }
}