// Color Theming

// Eve Theme Styles

@each $theme-name, $color-value, $radius-value, $rotation-value in 
    (eve, $eve-theme-color, 0rem, -15deg),
    (flow, $flow-theme-color, 15rem, 90deg),
    (sante,$sante-theme-color, 50rem, -90deg),
    (exquisite, $exquisite-theme-color, 5rem, 15deg),
    (frames, $frames-theme-color, 20rem, -45deg),
    (humanly, $humanly-theme-color, 50rem, 90deg),
    (email, $email-theme-color),
    (twitter, $twitter-theme-color),
    (instagram, $instagram-theme-color),
    (dribbble, $dribbble-theme-color),
    (github, $github-theme-color),
    (readings, $readings-theme-color, 2rem, 80deg){
    
    .--project-theme-#{$theme-name},
    #--project-theme-#{$theme-name} {
        .one__elements i {
            border: 2px solid $color-value;
            border-radius: $radius-value;
            transform: rotate($rotation-value);
            transition: 1s ease-in-out;
        }

        h4 {
            color: $color-value;
        }

        .introduction h1 .cursor {
            color: $color-value;
        }

        .project__back-btn {
            border-color: $color-value;

            svg {
                fill: $color-value;
            }

            &:hover {
                background-color: rgba($color: $color-value, $alpha: .1)
            }
        }

        a:hover {
            color: $color-value;
            text-decoration-color: $color-value;
        }

        ::selection {
            background: $color-value;
        }
    }
}

body.light-mode {
    .section__one {
        background: $light-color !important;
    }

    .one__container {
        background: $dark-dotted-page;
        background-size: 2rem 2rem;
        background-position: 1rem 1rem;

    }

    a {
        color: $dark-color;
    }
    
    li, ul {
        color: $dark-color;
    }
    
    p {
        color: $dark-color;
    }
    
    h1 {
        color: $dark-color;
    }

    .typer {
        color: $dark-color;
    }
    .toggle__switch {
        background: rgba($dark-color, $alpha: 0.2);
    }
    .switch__cover {
        right: 34px;
        background: $light-color;
    }

    .posts__post {
        &:hover {
            background: $light-color;
        }
    }

    .header__details {
        h1 {
            color: $light-color;
        }
    }
}