<!DOCTYPE html>
<html lang="en">
<head>
<title>mo // page not found</title>
<meta name="description" content="product designer based in sofia, bulgaria // focused on experiences, interactions, and interfaces.">
<meta name="twitter:title" content="mo // page not found">
<meta name="twitter:description" content="product designer based in sofia, bulgaria // focused on experiences, interactions, and interfaces.">
<meta itemprop="name" content="mo // page not found">
<meta itemprop="description" content="product designer based in sofia, bulgaria // focused on experiences, interactions, and interfaces.">
<meta property="og:title" content="mo // page not found">
<meta property="og:description" content="product designer based in sofia, bulgaria // focused on experiences, interactions, and interfaces.">
{{> meta}}
<link rel="stylesheet" href="http://khatib.work/dist/css/style.min.css">
</head>
<body style="height: 100%;">
<section class="section__not-found">
    <h4>page not found</h4>
    <h1>Congratulations!</h1>
    <p class="description__not-found">You found our 404 page.</p>
    <a href="/index.html"> go to homepage</a>
</section>
<script src="http://khatib.work/dist/js/random-images.js"></script>
<script src="http://khatib.work/dist/js/main.min.js"></script>
</body>
</html>