<!DOCTYPE html>
<html lang="en">

<head>
        <title>mo // about</title>
        <meta name="description" content="product designer based in sofia, bulgaria">
        <meta name="twitter:title" content="mo // about">
        <meta name="twitter:description" content="product designer based in sofia, bulgaria">
        <meta itemprop="name" content="mo // product designer // about">
        <meta itemprop="description" content="product designer based in sofia, bulgaria">
        <meta property="og:title" content="mo // product designer // about">
        <meta property="og:description" content="product designer based in sofia, bulgaria.">
        <meta property='og:url' content='http://khatib.work/about.html' />
        {{> meta}}
        <link rel="stylesheet" href="dist/css/style.min.css">
</head>

<body>
        <section class="section__one --project-theme-about">

                <div class="one__container">
                        <div class="project__section --margin-top-none --position-sticky --index-top">
                                <div class="top__options">
                                        {{> back-button}}
                                        {{> toggle-switch}}
                                </div>
                        </div>
                        <div class="project__section">
                                <div class="projects__header">
                                        <h4>about</h4>
                                        {{!-- <div></div> --}}
                                </div>
                                <h1 class="--margin-top-s">i'm mo // product designer based in sofia_bulgaria.
                                </h1>
                                <div class=" project__section section__bio">
                                        <div class="bio__image">
                                                <img src="http://khatib.work/app/images/pages/about/image-mo.jpg" alt="">
                                        </div>
                                        <div class="bio__description">
                                                <p> My experience ranges at the intersection of product design and
                                                        design systems.
                                                        Through these mediums, I strive to solve new problems and push
                                                        technology
                                                        forward.</p>

                                                <p> I believe that experience and continuous learning is the key to
                                                        building
                                                        next-generation technologies. With that in mind, I am open to
                                                        learn, share, and
                                                        adopt new techniques and better solutions to improve the quality
                                                        of the product.
                                                </p>

                                                <p>
                                                        Staying sincerely in touch with the user's voice and
                                                        understanding their
                                                        particular needs and unique pain points are what I put in the
                                                        first place.</p>
                                                </p>

                                        </div>


                                </div>


                        </div>
                        <div class="project__section skills ">
                                <div class="projects__header">
                                        <h4>skills</h4>
                                        {{!-- <div></div> --}}
                                </div>
                                <ul class="--margin-top-s" aria-label="list">
                                        <h1 aria-label="list-item">product design //
                                                <img
                                                        src="https://cdn.dribbble.com/users/501211/screenshots/2727885/music-player-800.png" />
                                        </h1>
                                        <h1 aria-label="list-item">experience design //
                                                <img
                                                        src="https://cdn.dribbble.com/users/501211/screenshots/3903459/whataboutus-gif.gif" />
                                        </h1>
                                        <h1 aria-label="list-item">interface design //
                                                <img
                                                        src="https://cdn.dribbble.com/users/501211/screenshots/3876374/untitled-1.gif" />
                                        </h1>
                                        <h1 aria-label="list-item">interaction design //
                                                <img
                                                        src="https://cdn.dribbble.com/users/501211/screenshots/3264118/test.gif" />
                                        </h1>
                                        <h1 aria-label="list-item">design systems
                                                <img
                                                        src="https://cdn.dribbble.com/users/501211/screenshots/4000353/120517-framer-gif.gif" />
                                        </h1>
                                </ul>
                        </div>
                        <div class="project__section">
                                <div class="projects__header">
                                        <h4>Feed</h4>
                                        {{!-- <div></div> --}}
                                </div>
                                <div class="feed">
                                        <div class="feed__cl">
                                                <a target="_blank" href="https://instagram.com/kh4tib"
                                                        class="feed__item">
                                                        <img src="https://scontent-sof1-1.cdninstagram.com/v/t51.2885-15/e35/83239512_180008093251447_4688130587306887529_n.jpg?_nc_ht=scontent-sof1-1.cdninstagram.com&_nc_cat=107&_nc_ohc=BusUmVAwiewAX_C2Fib&tp=1&oh=69ba50625d11dd3e96a8edfa3f57343a&oe=6009694B"
                                                                alt="">
                                                </a>
                                                <a target="_blank" href="https://instagram.com/kh4tib"
                                                        class="feed__item">
                                                        <img src="https://scontent-sof1-1.cdninstagram.com/v/t51.2885-15/e35/17126168_1286632724705542_6438123249053204480_n.jpg?_nc_ht=scontent-sof1-1.cdninstagram.com&_nc_cat=110&_nc_ohc=n1yTt_R5HCgAX9UOP9x&tp=1&oh=902904d17bc0f4d06ef017afbc5bf279&oe=60076D82"
                                                                alt="">
                                                </a>
                                                <a target="_blank" href="https://instagram.com/kh4tib"
                                                        class="feed__item">

                                                        <img src="https://scontent-sof1-1.cdninstagram.com/v/t51.2885-15/e35/13248878_275150746170106_1863347657_n.jpg?_nc_ht=scontent-sof1-1.cdninstagram.com&_nc_cat=110&_nc_ohc=6VHXwt1VaYgAX-VsKKA&tp=1&oh=038dbfbbda8e3d53d1b1a04a6b243dfc&oe=600835E5"
                                                                alt="">
                                                </a>


                                        </div>
                                        <div class="feed__cl">
                                                <a target="_blank" href="https://instagram.com/kh4tib"
                                                        class="feed__item">

                                                        <img src="https://scontent-sof1-1.cdninstagram.com/v/t51.2885-15/e35/14719678_149511582186758_7575235399950270464_n.jpg?_nc_ht=scontent-sof1-1.cdninstagram.com&_nc_cat=102&_nc_ohc=ebvtrOQPQX0AX_2d5aa&tp=1&oh=665e804b1881e263a622681f858c26e2&oe=6009555E"
                                                                alt="">
                                                </a href="https://instagram.com/kh4tib">
                                                <a target="_blank" href="https://instagram.com/kh4tib"
                                                        class="feed__item">

                                                        <img src="https://scontent-sof1-1.cdninstagram.com/v/t51.2885-15/e35/14582400_1763534777234216_6613839371973951488_n.jpg?_nc_ht=scontent-sof1-1.cdninstagram.com&_nc_cat=108&_nc_ohc=yl47NPqphKwAX8IlZxH&tp=1&oh=d31878bdf9354b3dbd91f42c36ad4e55&oe=6008A981"
                                                                alt="">

                                                </a>
                                                <a target="_blank" href="https://instagram.com/kh4tib"
                                                        class="feed__item">
                                                        <img src="https://scontent-sof1-1.cdninstagram.com/v/t51.2885-15/e35/13256992_2057831467774820_461170901_n.jpg?_nc_ht=scontent-sof1-1.cdninstagram.com&_nc_cat=108&_nc_ohc=QbEOYObv3QAAX-TvbMj&tp=1&oh=cc497f61f9e7c8e29f9d174d119e6bf3&oe=600A1596"
                                                                alt="">

                                                </a>
                                        </div>
                                        {{!-- <div class="feed__cl">
                                                <div class="feed__item">
                                                        <img src="https://scontent-sof1-1.cdninstagram.com/v/t51.2885-15/e35/14596598_1402906506416161_986057201908973568_n.jpg?_nc_ht=scontent-sof1-1.cdninstagram.com&_nc_cat=101&_nc_ohc=ShY9daCKZFgAX-GNqPE&tp=1&oh=350228216b993088b97045db1e1869dd&oe=60099C29"
                                                                alt="">
                                                </div>
                                                <div class="feed__item">

                                                        <img src="https://scontent-sof1-1.cdninstagram.com/v/t51.2885-15/e35/13249873_1625592461095807_739764272_n.jpg?_nc_ht=scontent-sof1-1.cdninstagram.com&_nc_cat=107&_nc_ohc=onnaOlxJKSsAX_sakpJ&tp=1&oh=324c02367fbeb8034d50d90c669971a3&oe=60087126"
                                                                alt="">
                                                        alt="">
                                                </div>
                                                <div class="feed__item">
                                                        <img src="https://scontent-sof1-1.cdninstagram.com/v/t51.2885-15/e35/13256601_1042669659140906_2063755757_n.jpg?_nc_ht=scontent-sof1-1.cdninstagram.com&_nc_cat=102&_nc_ohc=DfuolEFZTkMAX-J9QfJ&tp=1&oh=bbb11565a0707aa41341d31d7408cafa&oe=6008EA31"
                                                                alt="">
                                                </div>
                                        </div> --}}

                                </div>
                        </div>
                        {{> contact}}
                </div>

                {{> one__elements}}
        </section>
        <script src="dist/js/toggle-modes.js"></script>
        <script src="dist/js/main.min.js"></script>
</body>

</html>