<!DOCTYPE html>
<html lang="en">

<head>
        <title>mo // about</title>
        <meta name="description" content="product designer based in sofia, bulgaria">
        <meta name="twitter:title" content="mo // about">
        <meta name="twitter:description" content="product designer based in sofia, bulgaria">
        <meta itemprop="name" content="mo // product designer // about">
        <meta itemprop="description" content="product designer based in sofia, bulgaria">
        <meta property="og:title" content="mo // product designer // about">
        <meta property="og:description" content="product designer based in sofia, bulgaria.">
        <meta property='og:url' content='http://khatib.work/about.html' />
        {{> meta}}
        <link rel="stylesheet" href="dist/css/style.min.css">
</head>

<body>
        <section class="section__one --project-theme-about">

                <div class="one__container">
                        <div class="project__section --margin-top-none --position-sticky --index-top">
                                <div class="top__options">
                                        {{> back-button}}
                                        {{> toggle-switch}}
                                </div>
                        </div>
                        <div class="project__section">
                                <div class="projects__header">
                                        <h4>about</h4>
                                        {{!-- <div></div> --}}
                                </div>
                                <h1 class="--margin-top-s">i'm mo // product designer based in sofia_bulgaria.
                                </h1>
                                <div class=" project__section section__bio">
                                        <div class="bio__image">
                                                <img src="http://khatib.work/app/images/pages/about/image-mo.jpg" alt="">
                                        </div>
                                        <div class="bio__description">
                                                <p> My experience ranges at the intersection of product design and
                                                        design systems.
                                                        Through these mediums, I strive to solve new problems and push
                                                        technology
                                                        forward.</p>

                                                <p> I believe that experience and continuous learning is the key to
                                                        building
                                                        next-generation technologies. With that in mind, I am open to
                                                        learn, share, and
                                                        adopt new techniques and better solutions to improve the quality
                                                        of the product.
                                                </p>

                                                <p>
                                                        Staying sincerely in touch with the user's voice and
                                                        understanding their
                                                        particular needs and unique pain points are what I put in the
                                                        first place.</p>
                                                </p>

                                        </div>


                                </div>


                        </div>
                        <div class="project__section skills ">
                                <div class="projects__header">
                                        <h4>skills</h4>
                                        {{!-- <div></div> --}}
                                </div>
                                <ul class="--margin-top-s" aria-label="list">
                                        <h1 aria-label="list-item">product design //
                                                <img
                                                        src="https://cdn.dribbble.com/users/501211/screenshots/2727885/music-player-800.png" />
                                        </h1>
                                        <h1 aria-label="list-item">experience design //
                                                <img
                                                        src="https://cdn.dribbble.com/users/501211/screenshots/3903459/whataboutus-gif.gif" />
                                        </h1>
                                        <h1 aria-label="list-item">interface design //
                                                <img
                                                        src="https://cdn.dribbble.com/users/501211/screenshots/3876374/untitled-1.gif" />
                                        </h1>
                                        <h1 aria-label="list-item">interaction design //
                                                <img
                                                        src="https://cdn.dribbble.com/users/501211/screenshots/3264118/test.gif" />
                                        </h1>
                                        <h1 aria-label="list-item">design systems
                                                <img
                                                        src="https://cdn.dribbble.com/users/501211/screenshots/4000353/120517-framer-gif.gif" />
                                        </h1>
                                </ul>
                        </div>
                        <div class="project__section">
                                <div class="projects__header">
                                        <h4>Feed</h4>
                                        {{!-- <div></div> --}}
                                </div>
                                <div class="feed">
                                        <div class="feed__cl">
                                                <a target="_blank" href="https://instagram.com/kh4tib"
                                                        class="feed__item">
                                                        <img src="http://khatib.work/app/images/pages/about/feed-image-1.jpg"
                                                                alt="">
                                                </a>
                                                <a target="_blank" href="https://instagram.com/kh4tib"
                                                        class="feed__item">
                                                        <img src="http://khatib.work/app/images/pages/about/feed-image-4.jpg"
                                                                alt="">
                                                </a>
                                                <a target="_blank" href="https://instagram.com/kh4tib"
                                                        class="feed__item">

                                                        <img src="http://khatib.work/app/images/pages/about/feed-image-5.jpg"
                                                                alt="">
                                                </a>


                                        </div>
                                        <div class="feed__cl">
                                                <a target="_blank" href="https://instagram.com/kh4tib"
                                                        class="feed__item">

                                                        <img src="http://khatib.work/app/images/pages/about/feed-image-2.jpg"
                                                                alt="">
                                                </a href="https://instagram.com/kh4tib">
                                                <a target="_blank" href="https://instagram.com/kh4tib"
                                                        class="feed__item">

                                                        <img src="http://khatib.work/app/images/pages/about/feed-image-3.jpg"
                                                                alt="">

                                                </a>
                                                <a target="_blank" href="https://instagram.com/kh4tib"
                                                        class="feed__item">
                                                        <img src="http://khatib.work/app/images/pages/about/feed-image-6.jpg"
                                                                alt="">
                                                </a>
                                        </div>

                                </div>
                        </div>
                        {{> contact}}
                </div>

                {{> one__elements}}
        </section>
        <script src="dist/js/toggle-modes.js"></script>
        <script src="dist/js/main.min.js"></script>
</body>

</html>