<!DOCTYPE html>
<html lang="en">

<head>
    <title>mo // product design // audiences</title>
    <meta name="description" content="Audiences is the audience management solution in Leanplum.">
    <meta name="twitter:title" content="mo // product // audiences">
    <meta name="twitter:description" content="Audiences is the audience management solution in Leanplum.">
    <meta itemprop="name" content="mo // product // audiences">
    <meta itemprop="description" content="Audiences is the audience management solution in Leanplum.">
    <meta property="og:title" content="mo // product // audiences">
    <meta property="og:description" content="Audiences is the audience management solution in Leanplum.">
    <meta name="og:image" content="">
    <meta name="og:twitter" content="">
    <meta property='og:url' content='http://khatib.work/audiences.html' />
    {{> meta}}
    <link rel="stylesheet" href="dist/css/style.min.css">
</head>

<body id="--project-theme-audiences">

    <section class="section__one">
        <div class="one__container">
            {{!-- Top Actions --}}
            <div class="project__section --margin-top-none --position-sticky --index-top">
                <div class="top__options">
                    {{> back-button}}
                    {{> toggle-switch}}
                </div>
            </div>
            <div class="project__section">
                <h4>audiences // product </h4>
                <h1>Audiences is the audience management solution in <span class="color__primary">Leanplum</span> that
                    helps marketing teams build, manage, and better understand their diverse audience and leverage this
                    in their marketing strategy.</h1>
            </div>
            <div class="project__section ">
                <h2>What is Leanplum?</h2>
                <p>Leanplum is a leading multi-channel customer engagement platform that helps forward-looking brands
                    meet their customers' real-time needs.</p>
            </div>

            <div class="project__section">
                <h4>The Challenge</h4>
                <p>A centralized user profile is the foundation of a healthy customer engagement strategy, yet, it is
                    not fully actionable on its own. Many marketing teams have turned to audience management solutions
                    to leverage in their marketing programs.</p>
            </div>

            <div class="project__section">
                <h4>The Solution</h4>
                <p>A tool that encourages marketing teams to explore and experiment when defining an audience. Supported
                    with insights to provide confidence that they are engaging the right audience.</p>
            </div>
            <div class="project__section ">
                <h1 class="--margin-bottom-s">Audiences in Leanplum is divided into three major surfaces</h1>

                <div class="list__item">
                    <div class="list__cue"></div>
                    <p> <span class=" list__title">Audience Dashboard</span> — Here you can view and manage all created
                        audiences.</p>
                </div>
                <div class="list__item">
                    <div class="list__cue"></div>
                    <p> <span class=" list__title">Audience Details</span> — Here you build, edit, or view an audience
                        with its insights. The purpose of this layer is to give marketing teams the confidence they need
                        to engage the most precise audience.</p>
                </div>
                <div class="list__item">
                    <div class="list__cue"></div>
                    <p> <span class=" list__title">Users in Audience</span> — Here you can view the users available in an audience. The user profile gives a centralized view of each user. It shows user settings and preferences.</p>
                </div>
            </div>
                <div class="project__section ">
                    <h4>learnings</h4>
                    <p>Since we launched Audiences, it's been great to see our users use it in many different ways and
                        leverage it in their marketing programs. We are continually trying to understand better how to
                        improve each product component to offer a better, seamless experience.</p>
                </div>
            </div>



            {{> one__elements}}
    </section>
    <script src="dist/js/toggle-modes.js"></script>
    <script src="dist/js/main.min.js"></script>
</body>

</html>