<!DOCTYPE html>
<html lang="en">

<head>
    <title>mo // product design // audiences</title>
    <meta name="description" content="Audiences in Leanplum helps marketing teams build, manage, explore and activate user data in the
                    form of audiences.">
    <meta name="twitter:title" content="mo // product // audiences">
    <meta name="twitter:description" content="Audiences in Leanplum helps marketing teams build, manage, explore and activate user data in the
                    form of audiences.">
    <meta itemprop="name" content="mo // product // audiences">
    <meta itemprop="description" content="Audiences in Leanplum helps marketing teams build, manage, explore and activate user data in the
                    form of audiences.">
    <meta property="og:title" content="mo // product // audiences">
    <meta property="og:description" content="Audiences in Leanplum helps marketing teams build, manage, explore and activate user data in the
                    form of audiences.">
    <meta name="og:image" content="">
    <meta name="og:twitter" content="">
    <meta property='og:url' content='http://khatib.work/audiences.html' />
    {{> meta}}
    <link rel="stylesheet" href="dist/css/style.min.css">
</head>

<body id="--project-theme-audiences">

    <section class="section__one">
        <div class="one__container">
            {{!-- Top Actions --}}
            <div class="project__section --margin-top-none --position-sticky --index-top">
                <div class="top__options">
                    {{> back-button}}
                    {{> toggle-switch}}
                </div>
            </div>
            <div class="project__section">
                <h4>audiences</h4>
                <h1>Audiences is the audience management solution in <span class="color__primary">Leanplum</span> that
                    helps marketing teams build, manage,
                    explore and activate user data in the form of audiences. </h1>
                <p>A centralized 360 user profile is the foundation of a robust customer engagement strategy, yet, it is
                    not fully actionable on its own. Many marketing teams have turned to audience management solutions
                    to leverage the user data in their marketing programs.</p>
            </div>
            <div class="project__section ">
                <h2>What is Leanplum?</h2>
                <p>Leanplum is a leading multi-channel customer engagement platform that helps forward-looking brands
                    meet their customers' real-time needs.</p>
            </div>
            <div class="project__section ">
                <h2>We've built Audiences with these three pillars in mind</h2>
                <div class="list__item">
                    <div class="list__cue"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path
                                d="M17.928 9.628C17.837 9.399 15.611 4 10 4S2.162 9.399 2.07 9.628a1.017 1.017 0 000 .744C2.163 10.601 4.389 16 10 16c5.611 0 7.837-5.399 7.928-5.628a1.017 1.017 0 000-.744zM10 14a4 4 0 110-8 4 4 0 010 8zm0-6a2 2 0 10.002 4.001A2 2 0 009.999 8z">
                            </path>
                        </svg></div>
                    <p> <span class="list__title">Clarity</span> — insights that provide confidence to marketing teams
                        that they are targeting the most precise audience.</p>
                </div>

                <div class="list__item">
                    <div class="list__cue"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path
                                d="M7.5 2A1.5 1.5 0 006 3.5V13a1 1 0 001 1h9.5a1.5 1.5 0 001.5-1.5v-9A1.5 1.5 0 0016.5 2h-9zm-4 4H4v10h10v.5a1.5 1.5 0 01-1.5 1.5h-9A1.5 1.5 0 012 16.5v-9A1.5 1.5 0 013.5 6z">
                        </svg></div>
                    <p> <span class="list__title">Consistency</span>  — a unified experience when working with audiences
                        across Leanplum.</p>
                </div>

                <div class="list__item">
                    <div class="list__cue"><svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M11 2.77355C11 2.34198 11.3442 2 11.77 2H14V0H11.77C10.2358 0 9 1.24119 9 2.77355V5H5.54996C2.97595 5 0.822518 6.95421 0.573424 9.51614L0.0156172 15.2532C-0.179608 17.2611 1.39843 19 3.4158 19C4.97964 19 6.34381 17.9381 6.72756 16.4221L6.801 16.1319C6.9695 15.4663 7.56848 15 8.25514 15H11.9949C12.6816 15 13.2805 15.4663 13.449 16.1319L13.5469 16.5185C13.9163 17.9778 15.2294 19 16.7347 19C18.6763 19 20.1951 17.3268 20.0078 15.3943L19.438 9.51751C19.1896 6.95498 17.0359 5 14.4613 5H11V2.77355ZM5.99995 7C6.55224 7 6.99995 7.44772 6.99995 8V9H7.99995C8.55224 9 8.99995 9.44771 8.99995 10C8.99995 10.5523 8.55224 11 7.99995 11H6.99995V12C6.99995 12.5523 6.55224 13 5.99995 13C5.44767 13 4.99995 12.5523 4.99995 12V11H3.99995C3.44767 11 2.99995 10.5523 2.99995 10C2.99995 9.44772 3.44767 9 3.99995 9H4.99995V8C4.99995 7.44772 5.44767 7 5.99995 7ZM13.5 10C14.3284 10 15 9.32843 15 8.5C15 7.67157 14.3284 7 13.5 7C12.6715 7 12 7.67157 12 8.5C12 9.32843 12.6715 10 13.5 10ZM16.5 14C17.3284 14 18 13.3284 18 12.5C18 11.6716 17.3284 11 16.5 11C15.6715 11 15 11.6716 15 12.5C15 13.3284 15.6715 14 16.5 14Z">
                        </svg>
                    </div>
                    <p> <span class="list__title">Flexibility</span> — a solution that encourages marketing teams to
                        explore and experiment when defining an audience.</p>
                </div>
            </div>

            <div class="project__section ">
                <h1>Audiences in Leanplum is divided into three major surfaces</h1>
            </div>

            <div class="project__section ">
                <h2>Audience Dashboard</h2>
                <p>This is the first screen you see when opening the Audiences page. That's where all created audiences
                    are listed and can be managed. </p>
                <p>This page consists of two main components;</p>

                <div class="list__item">
                    <div class="list__cue"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path
                                d="M15.5 3A1.5 1.5 0 0014 4.5v12a1.5 1.5 0 001.5 1.5h1a1.5 1.5 0 001.5-1.5v-12A1.5 1.5 0 0016.5 3h-1zM8 8.5A1.5 1.5 0 019.5 7h1A1.5 1.5 0 0112 8.5v8a1.5 1.5 0 01-1.5 1.5h-1A1.5 1.5 0 018 16.5v-8zM2 12.5A1.5 1.5 0 013.5 11h1A1.5 1.5 0 016 12.5v4A1.5 1.5 0 014.5 18h-1A1.5 1.5 0 012 16.5v-4z">
                        </svg></div>
                    <p> <span class=" list__title">Insights</span> — You can find the reachability metrics for
                        your whole user base, which help you better understand your userbase and what channels
                        to engage them on.</p>
                </div>

                <div class="list__item">
                    <div class="list__cue"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path
                                d="M3 3h14a1 1 0 110 2H3a1 1 0 010-2zm0 4h10a1 1 0 110 2H3a1 1 0 010-2zm0 4h14a1 1 0 010 2H3a1 1 0 010-2zm0 4h10a1 1 0 010 2H3a1 1 0 010-2z">
                        </svg></div>
                    <p> <span class="list__title">Audiences List</span> — You can find the information of each
                        audience, in addition to the number of active active engagements for each audience.</p>
                </div>

            </div>


            <div class="project__section ">
                <h2>Audience Details</h2>
                <p>This is where you build, edit, or view an audience with its insights. This page's motive is to
                    give marketing teams the confidence they need to target the most precise audience.</p>
                <p>This page is divided into three major components;</p>

                <div class="list__item">
                    <div class="list__cue"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path
                                d="M1.5 0A1.5 1.5 0 000 1.5v5A1.5 1.5 0 001.5 8h5A1.5 1.5 0 008 6.5v-5A1.5 1.5 0 006.5 0h-5zM13.293 7.707a1 1 0 101.414-1.414L13.414 5H17.5a.5.5 0 01.5.5V9a1 1 0 102 0V5.5A2.5 2.5 0 0017.5 3h-4.086l1.293-1.293A1 1 0 0013.293.293l-3 3a1 1 0 000 1.414l3 3zM6.707 12.293a1 1 0 00-1.414 1.414L6.586 15H2.5a.5.5 0 01-.5-.5V11a1 1 0 10-2 0v3.5A2.5 2.5 0 002.5 17h4.086l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414l-3-3zM20 18.5a1.5 1.5 0 01-1.5 1.5h-5a1.5 1.5 0 01-1.5-1.5v-5a1.5 1.5 0 011.5-1.5h5a1.5 1.5 0 011.5 1.5v5z">
                        </svg></div>
                    <p> <span class="list__title">Builder</span> — This is where you define your audience.
                        Technically, it's a user-friendly version of a query builder, where you can select user
                        filters and behaviors and chain them with logic operators. We've built this component with
                        exploration and experimentation in mind. We want the user to slice-and-dice different rules
                        easily and explore how these changes would affect the audience's size.</p>
                </div>

                <div class="list__item">
                    <div class="list__cue"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path
                                d="M15.5 3A1.5 1.5 0 0014 4.5v12a1.5 1.5 0 001.5 1.5h1a1.5 1.5 0 001.5-1.5v-12A1.5 1.5 0 0016.5 3h-1zM8 8.5A1.5 1.5 0 019.5 7h1A1.5 1.5 0 0112 8.5v8a1.5 1.5 0 01-1.5 1.5h-1A1.5 1.5 0 018 16.5v-8zM2 12.5A1.5 1.5 0 013.5 11h1A1.5 1.5 0 016 12.5v4A1.5 1.5 0 014.5 18h-1A1.5 1.5 0 012 16.5v-4z">
                        </svg></div>
                    <p> <span class="list__title">Insights</span> — This enables you to understand your audience
                        better. You can see the total number of users, what is the reachability per channel, and how
                        many have been active in the last seven days. Also, you have the option to expand the
                        insight's section by adding a group-by.</p>
                </div>

                <div class="list__item">
                    <div class="list__cue"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path
                                d="M17.1 14.95c.412.16.9-.08.9-.45v-13c0-.37-.488-.61-.9-.45-.683.41-1.311.83-1.919 1.237-2.14 1.43-4.019 2.687-7.084 2.713H4C2.34 5 1 6.34 1 8s1.34 3 3 3h4c3.123 0 5.02 1.268 7.182 2.714.607.406 1.236.826 1.918 1.236zM9 18h-.79c-.43 0-.81-.27-.94-.67L5.07 13H9a1 1 0 011 1v3c0 .55-.45 1-1 1z">
                            </path>
                        </svg></div>
                    <p> <span class="list__title">Engagements </span> — This is a list of all active engagements
                        where this audience is selected. The section helps you make more informed decisions when
                        editing and making changes to an audience definition.</p>
                </div>
            </div>
            <div class="project__section ">
                <h2>Users in Audience</h2>
                <p>You can go one layer deeper for each audience and view the users available in it. The user
                    profile gives a 360 view of each user. It shows all user settings, preferences, and behaviors.
                </p>
            </div>

            <div class="project__section ">
                <h4>learnings</h4>
                <p>Since we launched Audiences, it's been great to see our users use it in many different ways and
                    leverage it in their marketing programs. We are continually trying to understand better how to
                    improve each product component to offer a better, seamless experience.</p>
            </div>
        </div>



        {{> one__elements}}
    </section>
    <script src="dist/js/toggle-modes.js"></script>
    <script src="dist/js/main.min.js"></script>
</body>

</html>