<!DOCTYPE html>
<html lang="en">

<head>
<!-- Primary Meta Tags -->
<title>mo // product // audiences</title>
<meta name="title" content="mo // product // audiences">
<meta name="description" content="The audience management solution in Leanplum that helps marketing teams build, manage, and better understand their diverse audience.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="http://khatib.work/audiences">
<meta property="og:title" content="mo // product // audiences">
<meta property="og:description" content="The audience management solution in Leanplum that helps marketing teams build, manage, and better understand their diverse audience.">
<meta property="og:image" content="http://khatib.work/app/images/pages/covers/audiences_1200x630px.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="http://khatib.work/audiences">
<meta property="twitter:title" content="mo // product // audiences">
<meta property="twitter:description" content="The audience management solution in Leanplum that helps marketing teams build, manage, and better understand their diverse audience.">
<meta property="twitter:image" content="http://khatib.work/app/images/pages/covers/audiences_1200x630px.png">
{{> meta}}
<link rel="stylesheet" href="../dist/css/style.min.css">
</head>

<body id="--project-theme-audiences">

    <section class="section__one">
        <div class="one__container">
            {{!-- Top Actions --}}
            <div class="project__section --margin-top-none --position-sticky --index-top">
                <div class="top__options">
                    {{> back-button__project}}
                    {{> toggle-switch}}
                </div>
            </div>
            <div class="project__section">
                <h4>audiences // product </h4>
                <h1>Audiences is the audience management solution in <span class="color__primary">Leanplum</span> that
                    helps marketing teams build, manage, and better understand their diverse audience and leverage this data
                    in their marketing strategy.</h1>
            </div>
            <div class="project__section ">
                <h2>What is Leanplum?</h2>
                <p>Leanplum is a leading multi-channel customer engagement platform that helps forward-looking brands
                    meet their customers' real-time needs.</p>
            </div>

            <div class="project__section">
                <h4>The Challenge</h4>
                <p>A centralized user profile is the foundation of a healthy customer engagement strategy, yet, it is
                    not fully actionable on its own. Many marketing teams have turned to audience management solutions
                    to leverage in their marketing programs.</p>
            </div>

            <div class="project__section">
                <h4>The Solution</h4>
                    <p>A tool that helps marketers to build, manage, explore and activate customer data in the form of audiences. Supported
                    with actionable insights to help create more meaningful engagements.</p>
            </div>
            <div class="project__section ">
                <h1 class="--margin-bottom-s">Audiences in Leanplum is divided into three major surfaces</h1>

                <div class="list__item">
                    <div class="list__cue"></div>
                    <p> <span class=" list__title">Audience Dashboard</span> — View, manage and create audiences.</p>
                </div>
                <div class="list__item">
                    <div class="list__cue"></div>
                    <p> <span class=" list__title">Audience Details</span> — Build, edit, or view an audience
                        with its insights. The purpose of this layer is to give marketing teams the confidence they need
                        to engage the most precise audience.</p>
                </div>
                <div class="list__item">
                    <div class="list__cue"></div>
                    <p> <span class=" list__title">Users in Audience</span> — View the users available in an audience. The user profile gives a centralized view of each user. It shows user settings and preferences.</p>
                </div>
            </div>
            <div class="project__section">
                 <img class="audiences__image" src="../app/images/pages/projects/audiences-image-1.png" alt="">
            </div>
            <div class="project__section ">
                    <h4>learnings</h4>
                    <p>Since we launched Audiences, it's been great to see our users use it in many different ways and
                        leverage it in their marketing programs. We are continually trying to understand better how to
                        improve each product component to offer a better, seamless experience.</p>
                </div>
            </div>



            {{> one__elements}}
    </section>
    <script src="../dist/js/toggle-modes.js"></script>
    <script src="../dist/js/main.min.js"></script>
</body>

</html>