<!DOCTYPE html>
<html lang="en">

<head>
    <title>mo // design system // eve</title>
    <meta name="description" content="eve provides basic ui elements, flexbox based responsive interface system.">
    <meta name="twitter:title" content="mo // design system // eve">
    <meta name="twitter:description"
        content="eve provides basic ui elements, flexbox based responsive interface system.">
    <meta itemprop="name" content="mo // design system // eve">
    <meta itemprop="description" content="eve provides basic ui elements, flexbox based responsive interface system.">
    <meta property="og:title" content="mo // design system // eve">
    <meta property="og:description"
        content="eve provides basic ui elements, flexbox based responsive interface system.">
    <meta name="og:image" content="http://khatib.work/app/images/pages/projects/eve-image-1.png">
    <meta name="og:twitter" content="http://khatib.work/app/images/pages/projects/eve-image-1.png">
    <meta property='og:url' content='http://khatib.work/eve.html' />
    {{> meta}}
    <link rel="stylesheet" href="dist/css/style.min.css">
</head>

<body id="--project-theme-eve">

    <section class="section__one">
        <div class="one__container">
            {{!-- Top Actions --}}
            <div class="project__section --margin-top-none --position-sticky --index-top">
                <div class="top__options">
                    {{> back-button}}
                    {{> toggle-switch}}
                </div>
            </div>
            <div class="project__section">
                <h4>eve // design system</h4>
                <h1>Eve provides essential user interface elements, flexbox-based responsive interfaces, pure CSS
                    components with best practice coding, and a consistent design system.</h1>
                                    <p>It started this as a Sketch Library. After sharing the way it works with the front-end developer, we
                    decided to continue the same theory on the production front-end code base of the product.</p>
            </div>
            <div class="project__section ">
                <h2>Why did we decide to create our design system?</h2>
                <p>Most of the design systems and frameworks available now offer various design solutions and thousands
                    of components that we wouldn't need. Implementing a third-party solution would be like hitting a bug
                    with a hammer. The possibility to overwrite some styles for our needs would be higher. That's why we
                    created our systematic solution to scale it on our own without any third-party dependencies.</p>
            </div>
            <div class="project__section ">
                <h2>What was the outcome of implementing it our your products?</h2>
                <p>Better performance, consistency, a faster implementation for new features, more straightforward
                    improvement of the older ones, and more scalable front-end architecture of the product. In addition
                    to deleting a 15,000 line of repetitive CSS code.</p>
                <img class="--margin-top-s" src="https://media.giphy.com/media/9xlzhm7XZFaja1E6QX/giphy.gif"
                    alt="deleting lines of repeated code">
            </div>
            <div class="project__section ">
                <h4 class="--margin-bottom-xs">on the web</h4>
                <a href="http://kanbanize.github.io/eve" target="_blank" class="js-eve" alt="link to eve homepage"
                    aria-label="link">
                    <img class="img__link" src="http://khatib.work/app/images/pages/projects/eve-image-1.png" alt="">
                </a>
            </div>
        </div>

        {{> one__elements}}
    </section>
    <script src="dist/js/toggle-modes.js"></script>
    <script src="dist/js/main.min.js"></script>
</body>

</html>