<!DOCTYPE html>
<html lang="en">
<head>
    <title>mo // frames of mind</title>
    <meta name="twitter:title" content="mo // frames of mind">
    <meta itemprop="name" content="mo // frames of mind">
    <meta property="og:title" content="mo // frames of mind">
    <meta name="description" content="A collection of experiments to explore different techniques and help me get better at different things.">
    <meta name="twitter:description" content="A collection of experiments to explore different techniques and help me get better at different things.">
    <meta itemprop="description" content="A collection of experiments to explore different techniques and help me get better at different things.">
    <meta property="og:description" content="A collection of experiments to explore different techniques and help me get better at different things.">
    <meta name="og:image" content="http://khatib.work/app/images/pages/framesofmind/frames-of-mind_coverImage_1012x630px.jpg">
    <meta name="og:twitter" content="http://khatib.work/app/images/pages/framesofmind/frames-of-mind_coverImage_1200x630px.jpg">
    <meta property='og:url' content='http://khatib.work/framesofmind.html'/>
    {{> meta}}
    <link rel="stylesheet" href="dist/css/style.min.css">
</head>
<body>
    {{> back-button}} 
    <section class="section__one --height-auto">
        <div class="one__container">
            {{> toggle-switch}}
            <div class="humanly__header">
            <div class="header__details">
            <h1>Frames of mind</h1>
            <p>These interfaces are a collection of experiments that was done from start to finish in a single day. The purpose of them is to explore different techniques and help me get better at different things.</p>
            </div>
            </div>
            <div class="fom__items">
            <iframe height='560' scrolling='no' title='Round Cycles' src='//codepen.io/Khatib/embed/rZxXbg/?height=560&theme-id=0&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='https://codepen.io/Khatib/pen/rZxXbg'>Round Cycles</a> by mo (<a href='https://codepen.io/Khatib'>@Khatib</a>) on <a href='https://codepen.io'>CodePen</a>.
            </iframe>   
            <iframe height='560' scrolling='no' title='Round Cycles' src='//codepen.io/Khatib/embed/WgrVzd/?height=560&theme-id=0&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='https://codepen.io/Khatib/pen/WgrVzd'>Round Cycles</a> by mo (<a href='https://codepen.io/Khatib'>@Khatib</a>) on <a href='https://codepen.io'>CodePen</a>.
            </iframe>   
            <iframe height='560' scrolling='no' title='Round Cycles' src='//codepen.io/Khatib/embed/LJGwqp/?height=560&theme-id=0&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='https://codepen.io/Khatib/pen/LJGwqp'>Round Cycles</a> by mo (<a href='https://codepen.io/Khatib'>@Khatib</a>) on <a href='https://codepen.io'>CodePen</a>.
            </iframe>   
            <iframe height='560' scrolling='no' title='Round Cycles' src='//codepen.io/Khatib/embed/RYabxx/?height=560&theme-id=0&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='https://codepen.io/Khatib/pen/RYabxx/'>Round Cycles</a> by mo (<a href='https://codepen.io/Khatib'>@Khatib</a>) on <a href='https://codepen.io'>CodePen</a>.
            </iframe>
            <iframe height='560' scrolling='no' title='Round Cycles' src='//codepen.io/Khatib/embed/rZxXXE/?height=560&theme-id=0&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='https://codepen.io/Khatib/pen/rZxXXE/'>Round Cycles</a> by mo (<a href='https://codepen.io/Khatib'>@Khatib</a>) on <a href='https://codepen.io'>CodePen</a>.
            </iframe>
            <iframe height='560' scrolling='no' title='Round Cycles' src='//codepen.io/Khatib/embed/MqyWyj/?height=560&theme-id=0&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='https://codepen.io/Khatib/pen/MqyWyj/'>Round Cycles</a> by mo (<a href='https://codepen.io/Khatib'>@Khatib</a>) on <a href='https://codepen.io'>CodePen</a>.
            </iframe>
            <iframe height='560' scrolling='no' title='Round Cycles' src='//codepen.io/Khatib/embed/OZazVe/?height=560&theme-id=0&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='https://codepen.io/Khatib/pen/OZazVe/'>Round Cycles</a> by mo (<a href='https://codepen.io/Khatib'>@Khatib</a>) on <a href='https://codepen.io'>CodePen</a>.
            </iframe>
            <iframe height='560' scrolling='no' title='Random Levels' src='//codepen.io/Khatib/embed/MGQZrK/?height=560&theme-id=0&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='https://codepen.io/Khatib/pen/MGQZrK/'>Random Levels</a> by mo (<a href='https://codepen.io/Khatib'>@Khatib</a>) on <a href='https://codepen.io'>CodePen</a>.
            </iframe>
            <iframe height='560' scrolling='no' title='Random Levels' src='//codepen.io/Khatib/embed/yxOBwN/?height=560&theme-id=0&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='https://codepen.io/Khatib/pen/yxOBwN/'>Random Levels</a> by mo (<a href='https://codepen.io/Khatib'>@Khatib</a>) on <a href='https://codepen.io'>CodePen</a>.
            </iframe>
            <iframe height='560' scrolling='no' title='Random Levels' src='//codepen.io/Khatib/embed/YOqKMa/?height=560&theme-id=0&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='https://codepen.io/Khatib/pen/YOqKMa/'>Random Levels</a> by mo (<a href='https://codepen.io/Khatib'>@Khatib</a>) on <a href='https://codepen.io'>CodePen</a>.
            </iframe>
            <iframe height='560' scrolling='no' title='Random Levels' src='//codepen.io/Khatib/embed/OoNJyG/?height=560&theme-id=0&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='https://codepen.io/Khatib/pen/OoNJyG/'>Random Levels</a> by mo (<a href='https://codepen.io/Khatib'>@Khatib</a>) on <a href='https://codepen.io'>CodePen</a>.
            </iframe>
            </div>
        </div>
    </section>    
<script src="app/libs/typer.js"></script>
<script src="dist/js/toggle-modes.js"></script>
<script src="dist/js/main.min.js"></script>
</body>
</html>