<!DOCTYPE html>
<html lang="en">
<head>
    <title>mo // humanly </title>
    <meta itemprop="name" content="humanly // experimental blog">
    <meta property="og:title" content="humanly // experimental blog">
    <meta name="twitter:title" content="humanly // experimental blog">
    <meta name="description" content="exploring ideas at the intersection of design, code, and technology.">
    <meta name="twitter:description" content="exploring ideas at the intersection of design, code, and technology.">
    <meta itemprop="description" content="exploring ideas at the intersection of design, code, and technology.">
    <meta property="og:description" content="exploring ideas at the intersection of design, code, and technology.">
    <meta property='og:url' content='http://khatib.work/humanly.html'/>
    <meta name="og:image" content="http://khatib.work/app/images/pages/humanly/humanly_coverImage_1012x630px.jpg">
    <meta name="og:twitter" content="http://khatib.work/app/images/pages/humanly/humanly_coverImage_1200x630px.jpg">
    {{> meta}}
    <link rel="stylesheet" href="dist/css/style.min.css">
</head>
<body>
    {{> back-button}} 
    <section class="section__humanly">
        {{!-- Header --}}
        <div class="humanly__header">
            {{!-- <div class="header__image">
                <img src="" alt="">
            </div> --}}
            <div class="header__details">
                <h1>humanly</h1>
                <p>human interface design + me as a human exploring ideas at the intersection of design, code, and technology, sometimes get personal.</p>
        </div>
            </div>
        {{!-- Posts --}}
        <div class="humanly__posts">
            {{!-- How eve was born --}}
            <div data-type ="Design" class="posts__post">
                <a href="/humanly/how-eve-was-born.html"></a>
                <div class="post__card__image ">
                    <img src="https://media.giphy.com/media/So5pYKnIXt5N6/giphy.gif" alt="">
                </div>
                <div class="post__details">
                <h4>Design + Code</h4>                
                <h4 class="post__details__date">September 30, 2018</h4>
                <h1>how eve was born</h1>
                </div>
            </a>                     
            </div>
            {{!-- Why I'm doing this --}}
            <div data-type ="Personal" class="posts__post">
                <a href="/humanly/why-starting-this.html"></a>
                <div class="post__card__image ">
                    <img src="https://media.giphy.com/media/3kIcyN7fUtlUA/giphy.gif" alt="">
                </div>
                <div class="post__details">
                <h4>Personal</h4>
                <h4 class="post__details__date">September 21, 2018</h4>
                <h1>why starting this?</h1>                
                </div>
            </a>                     
            </div>
        </div>   
    </section>    
<script src="dist/js/main.min.js"></script>
</body>
</html>