<!DOCTYPE html>
<html lang="en">

<head>
    <title>mo // humanly </title>
    <meta itemprop="name" content="humanly // experimental blog">
    <meta property="og:title" content="humanly // experimental blog">
    <meta name="twitter:title" content="humanly // experimental blog">
    <meta name="description" content="exploring ideas at the intersection of product, design, and technology.">
    <meta name="twitter:description" content="exploring ideas at the intersection of product, design, and technology.">
    <meta itemprop="description" content="exploring ideas at the intersection of product, design, and technology.">
    <meta property="og:description" content="exploring ideas at the intersection of product, design, and technology.">
    <meta property='og:url' content='http://khatib.work/humanly.html' />
    <meta name="og:image" content="http://khatib.work/app/images/pages/humanly/humanly_coverImage_1012x630px.jpg">
    <meta name="og:twitter" content="http://khatib.work/app/images/pages/humanly/humanly_coverImage_1200x630px.jpg">
    {{> meta}}
    <link rel="stylesheet" href="dist/css/style.min.css">
</head>

<body>
    <section class="section__one  --project-theme-humanly">
        <div class="one__container">
            {{!-- Top Actions --}}
            <div class="project__section --margin-top-none --position-sticky --index-top">
                <div class="top__options">
                    {{> back-button}}
                    {{> toggle-switch}}
                </div>
            </div>
            {{!-- Header --}}
            <div div class="project__section">
                <h4>humanly</h>
                    <h1>human interface design + me as a human exploring ideas at the intersection of product, design,
                        and technology. Mostly GIFS.</h1>
            </div>
            {{!-- Posts --}}
            <div class="humanly__group project__section">
                {{!-- Love is Blind --}}
                <div>
                    <div class="projects__header">
                        <h4>2020</h4>
                        <div></div>
                    </div>
                    <img class="--margin-top-s" src="https://media.giphy.com/media/wNzNn7Lco0yhq/giphy.gif">
                    <div class="projects__header --margin-top-l">
                        <h4>2019</h4>
                        <div></div>
                    </div>
                    <a class="humanly__card" href="/humanly/love-is-blind.html">
                        <h1>love is blind 💘</h1>
                        <h4 class="post__date">October 28, 2019</h4>
                        <p>How many times did you fell in love with your solution?</p>
                    </a>


                    {{!-- Twenty18 Retrospective --}}

                    <a class="humanly__card" href="/humanly/twenty18-retrospective.html">
                        <h1>twenty18 retrospective</h1>
                        <h4 class="post__date">February 10, 2019</h4>
                        <p>It took me some time to get this post together.</p>
                    </a>
                    <div class="projects__header --margin-top-l">
                        <h4>2018</h4>
                        <div></div>
                    </div>

                    {{!-- How eve was born --}}

                    <a class="humanly__card" href="/humanly/how-eve-was-born.html">
                        <h1>how eve was born</h1>
                        <h4 class="post__date">September 30, 2018</h4>
                        <p>Eve provides basic user interface elements, flexbox based responsive interfaces, pure CSS
                            components.</p>
                    </a>


                    {{!-- Why I'm doing this --}}

                    <a class="humanly__card" href="/humanly/why-starting-this.html">
                        <h1>why starting this?</h1>
                        <h4 class="post__date">September 21, 2018</h4>
                        <p>a little tiny experimental blog</p>
                    </a>

                </div>
            </div>
        </div>

        {{> one__elements}}
    </section>
    <script src="dist/js/toggle-modes.js"></script>
    <script src="dist/js/main.min.js"></script>
</body>

</html>