<!DOCTYPE html>
<html lang="en">

<head>
    <title>mo // product designer</title>
    <meta name="description" content="product designer based in sofia, bulgaria">
    <meta name="twitter:title" content="mo // product designer">
    <meta name="twitter:description" content="product designer based in sofia, bulgaria">
    <meta itemprop="name" content="mo // product designer">
    <meta itemprop="description" content="product designer based in sofia, bulgaria">
    <meta property="og:title" content="mo // product designer">
    <meta property="og:description" content="product designer based in sofia, bulgaria">
    <meta property='og:url' content='http://khatib.work/index' />
    <meta name="og:image" content="http://khatib.work/app/images/pages/homepage/homepage_coverImage_1200x630px.jpg">
    <meta name="og:twitter" content="http://khatib.work/app/images/pages/homepage/homepage_coverImage_1012x630px.jpg">
    {{> meta}}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Reem+Kufi&family=Zhi+Mang+Xing&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="dist/css/style.min.css">
</head>

<body>
    <section class="section__one">
        <div class="one__container">
            <div class="project__section --margin-top-none --position-sticky --index-top">
                <div class="top__options">
                    <img class="introduction__icon" src="http://khatib.work/app/images/pages/homepage/img-momoji.png"
                        alt="">
                    {{> toggle-switch}}
                </div>
            </div>

            {{!-- Introduction --}}
            <div class="project__section">
                <h1>
                    <span class="typer" id="main"
                        data-words="Hey,Здрасти,مرحبا,¡Hola!,您好,नमस्ते,Hallå,Здравствуйте,こんにちは" data-delay="100"
                        data-deleteDelay="2000"></span>
                    <span class="cursor" data-owner="main"></span>

                    <br>i’m mo, a product designer focused on solving and building human-centered products.
                    <div class="introduction__actions">
                        <a class="action__button js-about" href="/about.html" alt="link to about page"
                            aria-label="link">
                            about me
                            {{!-- <img src="https://media.giphy.com/media/10Jpr9KSaXLchW/giphy.gif" /> --}}
                        </a>

                        <a class="action__button js-humanly" href="/humanly.html" alt="link to about page"
                            aria-label="link">
                            <div>writings</div>
                            {{!-- <img src="https://media.giphy.com/media/10Jpr9KSaXLchW/giphy.gif" /> --}}
                        </a>

                    </div>

                </h1>
            </div>
            {{!-- Projects --}}
            <div class="project__section">
                <div class="projects">
                    <div class="projects__header">
                        <h4>projects</h4>
                        <div></div>
                    </div>

                    <a href="/eve.html" class="humanly__card js-eve" alt="link to eve homepage" aria-label="link">
                        <h1>Eve</h1>
                        <h4 class="post__date">Design System</h4>
                        <p>Essential user interface elements, flexbox based responsive interfaces, pure css components.
                        </p>
                    </a>

                    <a href="/flow.html" class="humanly__card js-flow" alt="link to flow-e video overview">
                        <h1>Flow-e</h1>
                        <h4 class="post__date">Product Design</h4>
                        <p>An elegant kanban-like workflow that's combined with the ideas behind inbox zero inside your
                            Gmail and Outlook.</p>
                    </a>

                    <a href="/framesofmind.html" class="humanly__card js-frames" alt="link to ui experimentans">
                        <h1>Frames Of Mind</h1>
                        <h4 class="post__date">Experimental</h4>
                        <p>A collection of interface experiments.
                        </p>
                    </a>

                    <a href="/sante.html" class="humanly__card js-sante" alt="link to sante presentation on behance"
                        aria-label="link">
                        <h1>Sante</h1>
                        <h4 class="post__date">Interaction</h4>
                        <p>a health coaching center where one can get the support and guidance needed to improve their
                            health through lifestyle changes.</p>
                    </a>

                    <a href="/exquisite.html" class="humanly__card js-exquisite"
                        alt="link to exquisite presentation on behance" aria-label="link">
                        <h1>Exquisite</h1>
                        <h4 class="post__date">Interaction</h4>
                        <p>Fashion and beauty online magazine.</p>
                    </a>

                </div>
            </div>
            {{> contact}}
        </div>
        {{!-- Side Shapes Animation --}}
        {{> one__elements}}
    </section>
    <script src="app/libs/typer.js"></script>
    <script src="dist/js/toggle-modes.js"></script>
    <script src="dist/js/main.min.js"></script>
</body>

</html>