<!DOCTYPE html>
<html lang="en">
<head>
<title>mo // product designer</title>
<meta name="description" content="product designer based in sofia, bulgaria // focused on user interfaces, design systems, and front-end implementation.">
<meta name="twitter:title" content="mo // product designer">
<meta name="twitter:description" content="product designer based in sofia, bulgaria // focused on user interfaces, design systems, and front-end implementation.">
<meta itemprop="name" content="mo // product designer">
<meta itemprop="description" content="product designer based in sofia, bulgaria // focused on user interfaces, design systems, and front-end implementation.">
<meta property="og:title" content="mo // product designer">
<meta property="og:description" content="product designer based in sofia, bulgaria // focused on user interfaces, design systems, and front-end implementation.">
<meta property='og:url' content='http://khatib.work/index'/>
<meta name="og:image" content="http://khatib.work/app/images/pages/homepage/homepage_coverImage_1200x630px.jpg">
<meta name="og:twitter" content="http://khatib.work/app/images/pages/homepage/homepage_coverImage_1012x630px.jpg">
{{> meta}}
<link rel="stylesheet" href="dist/css/style.min.css">
</head>
<body>
    <section class="section__one">
        <div class="one__container">
            {{!-- Header --}}
            <div class="introduction">
                <h1>
                    <span class="typer" id="main" data-words="Hey,Здрасти,مرحبا,¡Hola!,您好,नमस्ते,Hallå,Здравствуйте,こんにちは" data-colors="white" data-delay="100" data-deleteDelay="1000"></span>
                    <span class="cursor" data-owner="main"></span>
                    <br>i’m mo,
                    <br>a product designer
                    <br>focused on user interfaces, design systems,
                    <br>and front-end implementation.
                    <a href="/about" alt="link to about page" aria-label="link" class="introduction__more-button">
                        more about me here 
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="none" d="M0 0h24v24H0z"/>
                            <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4z"/>
                        </svg>
                        <img src="https://media.giphy.com/media/10Jpr9KSaXLchW/giphy.gif"/>
                    </a> 
                </h1>
            </div>
            {{!-- Skills, Projects and more --}}
            <div class="one__columns">
                <div class="skills">
                    <h4>skills</h4>
                    <ul aria-label="list">
                        <li aria-label="list-item">product design
                            <img src="https://cdn.dribbble.com/users/501211/screenshots/2727885/music-player-800.png"/>
                        </li>
                        <li aria-label="list-item">experience design
                            <img src="https://cdn.dribbble.com/users/501211/screenshots/3903459/whataboutus-gif.gif"/>
                        </li>
                        <li aria-label="list-item">interaction design
                            <img src="https://cdn.dribbble.com/users/501211/screenshots/3264118/test.gif"/>
                        </li>
                        <li aria-label="list-item">interface design
                            <img src="https://cdn.dribbble.com/users/501211/screenshots/3876374/untitled-1.gif"/>
                        </li>
                        <li aria-label="list-item">design systems
                            <img src="https://cdn.dribbble.com/users/501211/screenshots/4000353/120517-framer-gif.gif"/>
                        </li>
                    </ul>
                </div>
                <div class="projects">
                    <h4>projects</h4>
                    <a href="/eve.html" class="js-eve" alt="link to eve homepage" aria-label="link">eve
                        <div class="project__description">/ design system</div>
                    </a>
                    <a href="/flow.html" class="js-flow" alt="link to flow-e video overview">flow-e
                        <div class="project__description">/ product design</div>
                    </a>
                    <a href="/sante.html" class="js-sante" alt="link to sante presentation on behance" aria-label="link">sante
                        <div class="project__description">/ interaction design</div>
                    </a>
                    <a href="/exquisite.html" class="js-exquisite" alt="link to exquisite presentation on behance" aria-label="link">ex
                        <div class="project__description">/ interaction design</div>
                    </a>
                </div>
                <div class="experimentals">
                    <h4>experimentals</h4>
                    <a href="/humanly.html" class="js-humanly" alt="link to blog page" aria-label="link">humanly
                        <div class="project__description">/ writing</div>
                    </a>
                    <a href="/framesofmind.html" class="js-frames" alt="link to ui experimentans">frames of mind
                        <div class="project__description">/ ui</div>
                    </a>
                </div>
                <div class="contact">
                    {{> contact}}
                </div>
            </div>
            {{!-- Side Shapes Animation --}}
            <div class="one__elements">
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>   
            </div>
        </div> 
    </section>    
<script src="app/libs/typer.js"></script>
<script src="dist/js/main.min.js"></script>
</body>
</html>