<!DOCTYPE html>
<html lang="en">

<head>
    <title>mo // projects</title>
    <!-- Primary Meta Tags -->
    <title>mo // projects </title>
    <meta name="title" content="mo // projects ">
    <meta name="description" content="A selection of products and experiences.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://khatib.work/projects">
    <meta property="og:title" content="mo // projects">
    <meta property="og:description" content="A selection of products and experiences.">
    <meta property="og:image" content="http://khatib.work/app/images/pages/covers/home_1200x630px.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="http://khatib.work/projects">
    <meta property="twitter:title" content="mo // projects">
    <meta property="twitter:description"
        content="A selection of products and experiences.">
    <meta property="twitter:image" content="http://khatib.work/app/images/pages/covers/home_1200x630px.png">
    {{> meta}}
    <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi&family=Zhi+Mang+Xing&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="dist/css/style.min.css">
</head>

<body class="--projects-theme-eve">
    <section class="section__one">
        <div class="one__container">
            <div class="project__section --margin-top-none --position-sticky --index-top">
                <div class="top__options">
                    {{> back-button}}
                    {{> toggle-switch}}
                </div>
            </div>

            {{!-- Header --}}
            <div div class="project__section">
                <h4>projects</h>
                    <h1>A selection of <br>products and experiences.</h1>
            </div>

            {{!-- Projects --}}
            <div class="project__section --margin-top-none">
                <div class="projects">

                    <a href="/audiences.html" class="humanly__card js-audiences">
                        <h1 class="flex">Audiences<div class="humanly__badge">
                                <h4>new</h4>
                            </div>
                        </h1>
                        <h4 class="post__date">Product Design</h4>
                        <p>The audience management solution in Leanplum that helps marketing teams build, manage, and
                            better understand their diverse audience.
                        </p>
                    </a>

                    <a href="/eve.html" class="humanly__card js-eve">
                        <h1>Eve</h1>
                        <h4 class="post__date">Design System</h4>
                        <p>Essential user interface elements, flexbox based responsive interfaces, pure css components.
                        </p>
                    </a>

                    <a href="/flow.html" class="humanly__card js-flow">
                        <h1>Flow-e</h1>
                        <h4 class="post__date">Product Design</h4>
                        <p>An elegant kanban-like workflow that's combined with the ideas behind inbox zero inside your
                            Gmail and Outlook.</p>
                    </a>

                    <a href="/framesofmind.html" class="humanly__card js-frames">
                        <h1>Frames Of Mind</h1>
                        <h4 class="post__date">Experimental</h4>
                        <p>A collection of interface experiments.
                        </p>
                    </a>

                    <a href="/sante.html" class="humanly__card js-sante">
                        <h1>Sante</h1>
                        <h4 class="post__date">Interaction</h4>
                        <p>a health coaching center where one can get the support and guidance needed to improve their
                            health through lifestyle changes.</p>
                    </a>

                    <a href="/exquisite.html" class="humanly__card js-exquisite">
                        <h1>Exquisite</h1>
                        <h4 class="post__date">Interaction</h4>
                        <p>Fashion and beauty online magazine.</p>
                    </a>
                </div>
            </div>
            {{> contact}}
        </div>

        {{!-- Side Shapes Animation --}}
        {{> one__elements}}
    </section>
    <script src="dist/js/local-projects-interaction.js"></script>
    <script src="dist/js/toggle-modes.js"></script>
    <script src="dist/js/main.min.js"></script>
</body>

</html>