<!DOCTYPE html>
<html lang="en">

<head>
    <title>mo // interaction // sante</title>
    <meta name="description"
        content="Santé  is a health coaching centre, where one can get the support and guidance needed to improve their health through lifestyle changes.">
    <meta name="twitter:title" content="mo // interaction // sante">
    <meta name="twitter:description"
        content="Santé  is a health coaching centre, where one can get the support and guidance needed to improve their health through lifestyle changes.">
    <meta itemprop="name" content="mo // interaction // sante">
    <meta itemprop="description"
        content="Santé  is a health coaching centre, where one can get the support and guidance needed to improve their health through lifestyle changes.">
    <meta property="og:title" content="mo // interaction // sante">
    <meta property="og:description"
        content="Santé  is a health coaching centre, where one can get the support and guidance needed to improve their health through lifestyle changes.">
    <meta property='og:url' content='http://khatib.work/sante.html' />
    {{> meta}}
    <link rel="stylesheet" href="dist/css/style.min.css">
</head>

<body id="--project-theme-sante">

    <section class="section__one">
        <div class="one__container">
            {{!-- Top Actions --}}
            <div class="project__section --margin-top-none --position-sticky --index-top">
                <div class="top__options">
                    {{> back-button}}
                    {{> toggle-switch}}
                </div>
            </div>
            <div class="project__section">
                <h4>sante // interaction</h4>
                <h1>Sante is a health coaching center where one can get the support and guidance needed to improve their health through lifestyle changes.</h1>
            </div>
            <div class="project__section">
                <h4>role</h4>
                <h1>
                    product designer //
                    interaction designer //
                    information architecture
                </h1>
            </div>
            <div class="project__section">
                <h4 class="--margin-bottom-xs">on behance</h4>
                <a href="https://www.behance.net/gallery/52354685/Sant" target="_blank" class="js-sante"
                    alt="link to sante presentation" aria-label="link">
                    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/e6671f52354685.59249d50117b3.png" alt="">
                    </a>
            </div>
        </div>

        {{> one__elements}}
    </section>
    <script src="app/libs/typer.js"></script>
    <script src="dist/js/toggle-modes.js"></script>
    <script src="dist/js/main.min.js"></script>
</body>

</html>